@model HIS_MCRS.Areas.ManagementReports.ViewModels.PolyClinicListOfCancelledPatientAppointment

@{
    ViewBag.Title = "PolyClinic Reports";
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    //options.Confirm = "Do you wish to submit this form?";
    options.OnBegin = "_indicator.Body()";
    options.OnComplete = "_indicator.Stop()";
    //options.OnFailure = "OnFailure";
    //options.OnSuccess = "OnSuccess";
    //options.LoadingElementId = "loading";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "reportWrapper";
    options.InsertionMode = InsertionMode.Replace;
}



<div class="panel panel-default">
 @using (Ajax.BeginForm(options))
     {
    <div class="panel-heading" style="border-color: #ddd;">
        <div class="row">
            <div class="col-xs-5">
                <h4><span class="navbar-header"> List of Cancelled Patient Appointments</span></h4>
            </div>
          
            <div class="navbar-collapse navbar-right" style="margin-right:2px;">
                   <button id="RunReport" type="submit" class="btn btn-success top5"  value="RunReport">
                        <span class="glyphicon glyphicon-tasks"></span> Run Report
                    </button>
                     <div class="col-xs-1"></div>
                    <a id="Close"  href="@Url.Action("Index", "PolyClinic")" class="top5 btn btn-danger">
                        <span class="glyphicon glyphicon-off"></span> Close
                    </a>
            </div>
        </div>
    </div>
    <div class="panel-body" style="height: auto;">
       
            <div class="form-group">
                <div class="row col-xs-3">
                    @Html.LabelFor(m => m.StartDate, new { @class = "col-xs-4 top10" })

                    <div class="col-xs-6 input-group top5">
                        @Html.TextBoxFor(m => m.StartDate, Model.StartDate.ToString("dd-MMM-yyyy"), new
                       {
                            @readonly= true,
                           @class = "datepicker form-control",
                           style = "z-index:0 !important;",
                           data_bind = "datepicker:$root.StartDate, datepickerOptions:{format: 'dd-M-yyyy',autoclose: true}"
                       })
                        <span class="input-group-btn ">
                            <button data-bind="glyphfor:'@Html.IdFor(m => m.StartDate)'" class="btn btn-default glyphicon glyphicon-calendar" type="button" style="margin-top: -1px;"></button>
                        </span>
                    </div>


                    @Html.LabelFor(m => m.EndDate, new { @class = "col-xs-4 top10" })

                    <div class="col-xs-6 input-group top5">
                        @Html.TextBoxFor(m => m.EndDate, Model.EndDate.ToString("dd-MMM-yyyy"), new
                       {
                            @readonly= true,
                           @class = "datepicker form-control",
                           style = "z-index:0 !important;",
                           data_bind = "datepicker:$root.EndDate, datepickerOptions:{format: 'dd-M-yyyy',autoclose: true}"
                       })
                        <span class="input-group-btn ">
                            <button data-bind="glyphfor:'@Html.IdFor(m => m.EndDate)'" class="btn btn-default glyphicon glyphicon-calendar" type="button" style="margin-top: -1px;"></button>
                        </span>
                    </div>

                </div>
                <div class="row col-xs-5">
                    <div class="col-xs-12 row">
                        @Html.LabelFor(m => m.PatientType, new { @class = "row col-xs-4 top10" })
                        <div class="row col-xs-4">
                            <select id="@Html.IdFor(m => m.PatientType)" name="@Html.NameFor(m => m.PatientType)" class="form-control top5"
                        data-bind="options:$root.PatientTypeList,
                                   value:$root.SelectedPatientType, 
                                   optionsText:'Value',
                                   optionsValue:'Key',select2:{}">
                            </select>


                        </div>

                    </div>

                    <div class="row col-xs-12">
                        @Html.LabelFor(m => m.EmployeeId, new { @class = "row col-xs-4 top10" })
                        <div class="row col-xs-9 top5">
                            <input id="@Html.IdFor(m => m.EmployeeId)" name="@Html.NameFor(m => m.EmployeeId)" class="form-control top5"
                                   data-bind="value:$root.SelectedEmployee, 
                                    select2: {minimumInputLength: 2, query:$root.SearchEmployee, placeholder:'ALL', allowClear: true}"/>

                        </div>
                    </div>


                </div>
                 <div class="row col-xs-4">
                    <div class="col-xs-12 row">
                        @Html.LabelFor(m => m.DepartmentId, new { @class = "row col-xs-4 top10" })
                        <div class="row col-xs-9">
                            <select id="@Html.IdFor(m => m.DepartmentId)" name="@Html.NameFor(m => m.DepartmentId)" class="form-control top5"
                                    data-bind="options:$root.Departments,
                                               value:$root.SelectedDepartment, 
                                               optionsText:'Name',
                                               optionsValue:'Id', select2:{}">
                            </select>


                        </div>

                    </div>

                    <div class="row col-xs-12">
                        @Html.LabelFor(m => m.DoctorId, new { @class = "row col-xs-4 top10" })
                        <div class="row col-xs-9 top5">
                            <input id="@Html.IdFor(m => m.DoctorId)" name="@Html.NameFor(m => m.DoctorId)" class="form-control top5"
                                   data-bind="value:$root.SelectedDoctor, 
                                    select2: {minimumInputLength: 2, query:$root.SearchDoctors, placeholder:'ALL', allowClear: true}"/>

                        </div>
                    </div>


                </div>

                <div id="reportWrapper" class="col-xs-12 top10 container-fluid" style="min-height: 390px; background-color: #6C7A89;"></div>
            </div>
       
    </div>
     }
</div>

<input id="urlActions" class="hidden"
    data-searchemployee="@Url.Action("SearchEmployee")"
    data-searchdoctors="@Url.Action("SearchDoctors")"/>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/knockoutjs")
@section Scripts{
    <script type="text/javascript" src="~/Scripts/MCRS/global/dialogwrapper.js"></script>
    <script type="text/javascript" src="~/Scripts/ManagementReports/PolyClinicReports/CancelledPatientAppointments.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var data = '@Html.Raw(Json.Encode(this.Model))';
            var viewModel = new ViewModel(JSON.parse(data));
            viewModel.inputUrlActions = $("#urlActions");
            ko.applyBindings(viewModel);
        });
    </script>
}