@{
    ViewBag.Title = "Index";
}
<input type="hidden" id="url"
data-select2service="@Url.Action("ServiceListDL")"
data-getgenerallist="@Url.Action("SelectedList")"
data-getselectedlist="@Url.Action("SelectedListItem")"
data-save="@Url.Action("Save")"
@*data-getfetchvisit="@Url.Action("FetchPacakgeVisit")"*@

/>
<div class="panel panel-default">
       <div class="panel-heading">
          <div class="row">
             <div class="col-xs-5">
                <h4><b class="navbar-header">OP Non Discountable Items</b></h4>
             </div>
     </div>
    </div>
 <div class="panel-body">
         <div class="form-horizontal">
             <div class="form-group">
                        <label class="control-label col-sm-1">Service</label>
                        <div class="col-sm-3">
                            <input type="text" id="Select2Service" class="sel" />
                        </div>
                               <div class="pull-left">
            <button id="btnSave" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-floppy-disk ShowOnAdd ShowOnView HideOnEdit" data-dismiss="modal">Save</button>
            <button id="btnCancel" type="button" class="btn btn-sm btn-danger AR_custom_btn_fixed_width glyphicon glyphicon-remove ShowOnEdit HideOnAdd" data-dismiss="modal">Cancel</button>
         </div>
              </div>
         
         </div>
     <div class="col-xs-5">
          <table id="gridGeneralList" class="table table-bordered table-hover dataTable no-footer;">
             <thead class="AR_custom_table_header expanded-group">
                <tr>
                    <tr>
                       <th colspan="6" class="centertext compressedtableheader" style="text-align:center">Item List</th>
                    </tr> 
                   <th></th>
                   <th></th>
                </tr>
             </thead>
          </table>
        </div>
           <div class="col-xs-6">
          <table id="gridSelectedlist" class="table table-bordered table-hover dataTable no-footer;">
             <thead class="AR_custom_table_header expanded-group">
                <tr>
                    <tr>
                       <th colspan="6" class="centertext compressedtableheader" style="text-align:center">Selected Item</th>
                    </tr> 
                    <th></th>
                    <th></th>
                   @*<th>Ref Price</th>*@
                </tr>
             </thead>
          </table>
         
        </div>
    
    </div>    
</div>

@section scripts{
<script src="~/Scripts/itadmin/OPNonDiscountItem.js"></script>
}