@model HIS_MCRS.Areas.ManagementReports.ViewModels.PRListOfEmployees

@{  
    ViewBag.Title = "Human Resources Reports ";

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    //options.Confirm = "Do you wish to submit this form?";
    options.OnBegin = "_indicator.Body()";
    options.OnComplete = "_indicator.Stop()";
    //options.OnFailure = "OnFailure";
    //options.OnSuccess = "OnSuccess";
    //options.LoadingElementId = "loading";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "reportWrapper";
    options.InsertionMode = InsertionMode.Replace;
}



<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-5">
                <h4><span class="navbar-header">List of Employee by Category Report</span></h4>
            </div>
            <div class="navbar-collapse navbar-right">
            </div>
        </div>
    </div>

    <div class="panel-body" style="height: auto;">
        @using (Ajax.BeginForm(options))
            {
            <div class="form-inline">
                <div class="row">
                    <div class="col-xs-3 " style="">

                        @Html.LabelFor(m => m.StartDate, new { @class = "col-xs-4 " })
                        @Html.TextBoxFor(m => m.StartDate,Model.StartDate.ToString("dd-MMM-yyyy"),new
                       {
                           @readOnly="true",
                           @class = "datepicker form-control col-xs-7 ",
                           style = " ",
                           data_bind = "datepicker:$root.StartDate, datepickerOptions:{format: 'dd-M-yyyy',autoclose: true}"
                       })



                        @Html.LabelFor(m => m.EndDate, new { @class = "col-xs-4 top10 " })
                        @Html.TextBoxFor(m => m.EndDate,Model.EndDate.ToString("dd-MMM-yyyy"),new
                       {
                           @readOnly="true",
                           @class = "datepicker form-control col-xs-7 top10",
                           style = " ",
                          data_bind = "datepicker:$root.EndDate, datepickerOptions:{format: 'dd-M-yyyy',autoclose: true}"
                       })


                    </div>@*  col-xs-3*@

                    <div class="col-xs-6  " style="">
                        <div class="col-xs-5 ">
                            <div class="form-inline">
                                @Html.LabelFor(m => m.NationalityId, new { @class = "  " })
                                <div class="col-xs-12">

                                    <select id="@Html.IdFor(m=>m.NationalityId)" name="@Html.NameFor(m=>m.NationalityId)" class="form-control"
                                data-bind="options:$root.NationalityList, optionsText:'name', optionsValue:'name', 
                                           value: $root.SelectedNationalityList, select2:{allowClear: true, placeholder:''}">
                                    </select>




                                </div>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="form-inline">
                                @Html.LabelFor(m => m.DeptId, new { @class = "  " })
                                <div class="col-xs-12">
                                    <select id="@Html.IdFor(m=>m.DeptId)" name="@Html.NameFor(m=>m.DeptId)" class="form-control" 
                                data-bind="options:$root.DeptList, optionsText:'Value', optionsValue:'Key', 
                                           value: $root.SelectedDeptList, select2:{allowClear: true, placeholder:''}">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-3" style="">

                        <button id="RunReport" data-bind="click:$root.submit" type="submit" class="btn btn-success" value="RunReport">
                            <span class="glyphicon glyphicon-tasks"></span>Run Report
                        </button>


                        <a id="Close"  href="@Url.Action("Index", "HumanResources")" class="btn btn-danger ">
                            <span class="glyphicon glyphicon-off"></span>Close
                        </a>
                    </div>
                </div>
                <div class="row top10" style="margin-left: -30px;">
                    <div class="col-xs-5  " style="">
                        <div class="col-xs-5 ">
                            <div class="form-inline">
                                @Html.LabelFor(m => m.GenderId, new { @class = " " })
                                <div class="col-xs-12">
                                    <select id="@Html.IdFor(m=>m.GenderId)" name="@Html.NameFor(m=>m.GenderId)" class="form-control" 
                                data-bind="options:$root.GenderList, optionsText:'Value', optionsValue:'Key', 
                                           value: $root.SelectedGenderList, select2:{allowClear: true, placeholder:'Select Gender'}">
                                    </select>


                                </div>
                            </div>
                        </div>
                        <div class="col-xs-7 ">

                            @Html.LabelFor(m => m.HrId, new { @class = " " })
                            <div class="col-xs-12 ">


                                <select id="@Html.IdFor(m=>m.HrId)" name="@Html.NameFor(m=>m.HrId)" class="form-control"
                                data-bind="options:$root.HrList, optionsText:'Name', optionsValue:'Id', 
                                           value: $root.SelectedHrList, select2:{}">
                                </select>


                                @*<div class="form-inline"> </div>*@
                            </div>
                        </div>


                    </div>@*  col-xs-3*@
                    <div class="col-xs-6 " style="margin-left: 60px;">
                        <div class="col-xs-7  ">
                            <div class="form-inline">
                                @Html.LabelFor(m => m.CategoryId, new { @class = " " })
                                <div class="col-xs-12">
                                    <select id="@Html.IdFor(m=>m.CategoryId)" name="@Html.NameFor(m=>m.CategoryId)" class="form-control" 
                                data-bind="options:$root.CategoryList, optionsText:'Value', optionsValue:'Key', 
                                           value: $root.SelectedCategoryList, select2:{allowClear: true, placeholder:' '}">
                                    </select>


                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3  ">
                            <div class="form-inline">
                                @Html.CheckBoxFor(m => m.IsWithSalary) With Salary
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-3" style="width: auto;">
                    </div>
                </div>
                <div id="reportWrapper" class="col-xs-12 top10 container-fluid" style="min-height: 390px; background-color: #6C7A89;"></div>

            </div>
           
            }
    </div>@*panel-body*@
</div>



@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/knockoutjs")
@section Scripts{
    <script type="text/javascript" src="~/Scripts/MCRS/global/dialogwrapper.js"></script>
    @*<script type="text/javascript" src="~/Scripts/MCRS/otherreports/js_generalexpenses.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {

            var data = '@Html.Raw(Json.Encode(this.Model))';
            var viewModel = new ViewModel(JSON.parse(data));
            viewModel.inputUrlActions = $("#urlActions");
            ko.applyBindings(viewModel);


        });

        function ViewModel(model) {

            self = this;
            self.Uri;
            self.StartDate = ko.observable(new Date(moment(model.StartDate)));
            self.EndDate = ko.observable(new Date(moment(model.EndDate)));

            self.SelectedGenderList = ko.observable(0);
            self.GenderId = ko.observable(0);
            self.GenderList = ko.observableArray(model.GenderList);

            self.NationalityId = ko.observable(0);
            self.SelectedNationalityList = ko.observable(0);
            self.NationalityList = ko.observableArray(model.NationalityList);

            self.HrId = ko.observable(0);
            self.SelectedHrList = ko.observable(0);
            self.HrList = ko.observableArray(model.HrList);

            self.SelectedDeptList = ko.observable(0);
            self.DeptId = ko.observable(0);
            self.DeptList = ko.observableArray(model.DeptList);

            self.SelectedCategoryList = ko.observable(0);
            self.CategoryId = ko.observable(0);
            self.CategoryList = ko.observableArray(model.CategoryList);

            //self.SelectedCompany = ko.observable();
            //self.DoctorId = ko.observable();
            //self.StationId = ko.observable();
            //self.Sort = ko.observable();

            //self.Stations = ko.observableArray(model.Departments);
            //self.SortOptions = ko.observableArray(model.SortOptions);
            console.log('test');
            //self.SearchCompanies = function (query) {
            //    param = { searchString: query.term };
            //    url = self.Uri.data('searchcompanies');
            //    ajaxWrapper.Get(url, param, function (data, e) {
            //        var filteredData = [];
            //        ko.utils.arrayForEach(data, function (company) {
            //            filteredData.push({ id: company.Id, text: company.Code + " - " + company.Name });

            //        });
            //        query.callback({
            //            results: filteredData
            //        });
            //    });
            //};

            //self.SearchDoctors = function (query) {
            //    param = { searchString: query.term };
            //    url = self.Uri.data('searchdoctors');
            //    ajaxWrapper.Get(url, param, function (data, e) {
            //        var filteredData = [];
            //        ko.utils.arrayForEach(data, function (doctor) {
            //            filteredData.push({ id: doctor.OperatorId, text: doctor.EmpCode + " - " + doctor.FullName });

            //        });
            //        query.callback({
            //            results: filteredData
            //        });
            //    });
            //};

            self.init = function () {
                self.NationalityList.unshift({ id: "0", name: "ALL" });
                self.HrList.unshift({ Id: '0', Name: "ALL" });
                //self.GenderList.unshift({ Key: '0', Value: "ALL" });
            };
            self.init();
        }

    </script>
}

