@model List<DataLayer.UserModules>
@{
    FormsIdentity id = (FormsIdentity)User.Identity;
    FormsAuthenticationTicket ticket = id.Ticket;
    var d = ticket.UserData.Split('|');
    var userid = d[0];
    var emplo_ID = d[1];
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">


    <h1>
        🏥<b>H</b>ospital <b>I</b>nformation <b>S</b>ystem

    </h1>
    <ol class="breadcrumb">
       
        <li class="active">نظام معلومات المستشفى</li>
    </ol>
</section>

<input name="password" disabled="disabled" type="password" style="display:none;">
<input name="password" disabled="disabled" type="search" style="display:none;">


<input type="Website" style="display:none;">
<input type="Username" style="display:none;">
<input type="Password" style="display:none;">
<input type="New-Password" style="display:none;">
<input type='text' style='display: none'>
<input type="password" style="display:none;">
<input type="search" style="display:none;">

<section class="content">
    <div class="box box-primary">
        <div class="box-body" style="background: #d7dce5 !important;">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">


                        <input type="hidden" autocomplete="off">

                        <div class="col-sm-12">
                            <div class=" " style="margin-left:10px;">
                                <div class="form-group has-feedback">
                                    <input type="text" id="txtfind" name="q" class="form-control" autocomplete="false" autocomplete="off" placeholder="Type MODULE NAME..."
                                           readonly onfocus="this.removeAttribute('readonly');">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                        </div>

                        @*<div class="input-group">
                                <input type="text" id="txtfind" name="q" class="form-control" autocomplete="false" autocomplete="off" placeholder="Search..."
                                       readonly onfocus="this.removeAttribute('readonly');">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>*@
                        <br />


                        @foreach (var item in Model)
                        {

                            string i = "/HISLOGIN/Images/icons/module_" + @item.ModuleID + ".png";
                            <div class="col-sm-2 imgModule" data-urlink="@item.URLLink" data-moduleid="@item.ModuleID" data-search=" @item.Name.ToString().ToLower()" style="height:200px;">
                                <span class="hintModal">
                                    <a href="#" data-urlink="@item.URLLink" data-moduleid="@item.ModuleID">

                                        @*<img src="@i"    alt="" class="profile-user-img img-responsive img-circle">*@

                                        <img src="@i" class="profile-user-img img-responsive img-circle" data-emptysource="/HISLOGIN/Images/icons/No-image.png" onerror="this.onerror=null;this.src='/HISLOGIN/Images/icons/No-image.png'" data-imagepath="/HISLOGIN/Images/icons" data-onerror="this.onerror=null;this.src='/HISLOGIN/Images/icons/No-image.png'" alt="" width="90" height="90">

                                        @if (@item.Name.Length > 10)
                                        {

                                            <h6 class="text-center"><b>@item.Name.ToUpper()</b></h6>
                                        }
                                        else
                                        {
                                            <h5 class="text-center"><b>@item.Name.ToUpper()</b></h5>
                                        }




                                    </a>
                                    <span class="hintModal_container" style="min-width: 500px !important;">
                                        <div>
                                            <div class="col-sm-6">
                                                <h2>@item.Name</h2>
                                                <p> <i>@item.ImgSrc</i>   </p>

                                            </div>
                                            <div class="col-sm-6 ">
                                                <img src="@i" alt="" class="img-responsive pull-right" style="width:200px;height:200px;">
                                            </div>
                                        </div>
                                    </span>
                                </span>

                            </div>
                        }
                    </div>
                </div>
            </div>







            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title"> <i class="fa fa-area-chart"></i> HIS LOGIN Report</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i id="toggle-report" class="fa fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-wrench"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="background: #ecf3ff !important;">
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="text-center">
                                        <strong><i class="fa fa-line-chart"></i> HIS Module Usability Graph Per Day</strong>
                                    </p>

                                    <div class="chart">
                                        <!-- Sales Chart Canvas -->
                                        <canvas id="LoginChart" style="height: 200px;"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->

                                <div class="col-md-4  pull-right">
                                    <div class="box box-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header bg-black" style="background: url('@Url.Content("~/Images/main_1_profile.jpg")' ) center center;">

                                        </div>
                                        <div class="widget-user-image" style="margin-left: -85px; top: 15px;">
                                            <img class="img-circle" style="width: 180px !important;" src="~/Images/main_logo.png" alt="User Avatar">
                                        </div>
                                        <div class="box-footer" style="background-color:   rgb(236, 263, 255) !important;">
                                            <div class="row">
                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header" id="allemployees">0,000</h5>
                                                        <span class="description-text">Total Employees</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header" id="activeemployees">0,000</h5>
                                                        <span class="description-text">Active Employees</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-sm-4">
                                                    <div class="description-block">
                                                        <h5 class="description-header" id="newemployees">00</h5>
                                                        <span class="description-text">New employees</span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                </div>


                                <!-- /.col -->
                            </div>

                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->
                        <div class="box-footer" style="background: #ecf3ff !important;">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <p class="text-center">
                                            <strong><i class="fa fa-pie-chart"></i> LOGGED IN Counter</strong>
                                        </p>
                                        <div class="chart-responsive">
                                            <canvas id="barChart" height="150"></canvas>
                                        </div>
                                        <!-- ./chart-responsive -->
                                    </div>

                                </div>


                                <div class="col-md-4 pull-right">


                                    <div class="progress-group">

                                        <span class="progress-text"><i class="fa fa-user-md"></i>Total Employee Login Count</span>
                                        <span class="progress-number"><b id="total_emp_login_count"></b></span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-aqua" style="width: 70%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text"><a href="" title="Click here for your punchin details!" data-toggle="modal" data-target="#modal-punchin"><i class="fa  fa-hourglass-1"></i> Last Punchin Details</a></span>
                                        <span class="progress-number"><b id="last_punchin"></b></span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-red" style="width: 40%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text"><a href="" title="Click here for your module details!" data-toggle="modal" data-target="#modal-mostusedmodule"><i class="fa fa-bookmark-o"></i> Most Used Module</a></span>
                                        <span class="progress-number"><b id="most_used_mod"></b></span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">


                                        <span class="progress-text"><a href="" title="Click here for your module details!" data-toggle="modal" data-target="#modal-iplist"><i class="fa fa-desktop"></i> Most IPAddress Used</a></span>
                                        <span class="progress-number"><b id="most_ipadd_used"></b></span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                                        </div>
                                    </div>

                                </div>





                                @*<div class="col-md-3 pull-right">
                                        <div class="box box-danger">

                                            <div class="box-body" style="background:   rgb(236, 243, 255) !important;">
                                                <ul class="list-group list-group-unbordered">
                                                    <li class="list-group-item" style="background-color:   rgb(236, 243, 255) !important;">
                                                        <b>Total Employees</b> <a class="pull-right" >.....</a>
                                                    </li>
                                                    <li class="list-group-item" style="background-color:   rgb(236, 243, 255) !important;">
                                                        <b>Active Employees</b> <a class="pull-right" >.....</a>
                                                    </li>

                                                    <li class="list-group-item" style="background-color:  rgb(236, 243, 255) !important;">
                                                        <b>New Employees</b> <a class="pull-right" >.....</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- /.box-body -->
                                            <!-- Loading (remove the following to stop the loading)-->
                                            <div class="overlay spinning_data">
                                                <i class="fa fa-refresh fa-spin"></i>
                                            </div>
                                            <!-- end loading -->
                                        </div>

                                    </div>*@



                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>


        </div>
    </div>
</section>




@*<div class="modal fade in" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">*@


<!-- /.row -->
@*</div>
            </div>
        </div>
    </div>*@
<!-- /.row -->




<div id="DaysNotificationId" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Notification </b></h4>
            </div>
            <div class="modal-body" id="DaysNotificationBody">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="closewithRedirect" onclick="window.location.href='@Url.Action("ChangePassword", "Home")'" class="btn btn-danger btn-sm " data-dismiss="modal">Close</button>
                <button type="button" id="closewithOUTRedirect" class="btn btn-danger btn-sm " data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="ErrorMsg" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Notification </b></h4>
            </div>
            <div class="modal-body" id="errorbody">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm " data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="ThankyouMsg" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Notification </b></h4>
            </div>
            <div class="modal-body" id="ThankyouMsgbody">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Index", "Home", new { area = "" })"
                   data-toggle="tooltip"
                   title="Click here to Home...">
                    <span class="glyphicon glyphicon-home"></span><b>Home</b>
                </a>

            </div>
        </div>

    </div>
</div>




@*change password*@

<div id="div-changepass" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <b>Password Policy</b>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span>Close</button>
                    </div>
                </h4>
            </div>
            <div class="panel panel-success">
                <div class="panel-body">
                    <div id="UserForm">
                        <h5><center>Hospital Information System (HIS) - Change Password! </center> </h5>
                        <h5><center>كلمة مرور سياسة المستشفى!</center> </h5>
                        <div class="progress active">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="2" style="width: 50%;">
                                Step 1 of 2
                            </div>
                        </div>
                        <div class="navbar" style="display: none;">
                            <div class="navbar-inner">
                                <ul class="nav nav-pills">
                                    <li class="active" style="display: none;"><a href="#step1" data-toggle="tab" data-step="1" id="Step1">Step 1</a></li>
                                    <li style="display: none;"><a href="#step2" data-toggle="tab" data-step="2" id="Step2">Step 2</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="step1">
                                <div class="well">
                                     <div class="form-group has-feedback">
                                        <input type="text" class="form-control" value="@User.Identity.Name - @emplo_ID   "  disabled>
                                        <span class="fa fa-user-md form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback ">
                                        <input id="txtOldPassword" type="password" class="form-control" placeholder="Current / Old Password كلمة المرور القديمة " data-toggle="tooltip" title="Type your Current  Password!! (At least one letter/One capital letter)/(One number)/(8 characters in length) ">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>

                                </div>
                                <span id="loadingtext"></span>
                                <div class="text-center">
                                    @*<a class="btn btn-success  " href="#" id="btnStep1">Continue  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>*@
                                    <a style="display: none;" class="btn btn-success next  " href="#" id="btnStep1Hidden">Continue  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                                    <button type="button" id="btnStep1" class="btn btn-primary btn-block btn-flat">Continue  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="step2">
                                <div class="well">
                                    @*<input class="form-control input-sm" type="password" title="(At least one letter/One capital letter)/(One number)/(8 characters in length)" style="margin-top: 5px;">*@
                                    @*<input class="form-control input-sm" type="password" title="(At least one letter/One capital letter)/(One number)/(8 characters in length)" style="margin-top: 5px;" >*@
                                    <div class="form-group has-feedback ">
                                        <input  id="txtNewPassword" type="password" class="form-control" placeholder="New Password" data-toggle="tooltip" title="(At least one letter/One capital letter)/(One number)/(8 characters in length)">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback ">
                                        <input id="txtresitConfirmPassword" type="password" class="form-control"  placeholder="Confirm Password" data-toggle="tooltip" title="(At least one letter/One capital letter)/(One number)/(8 characters in length)">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="text-center">
                                    @*<input type="button" class="btn btn-success btn-sm" value="Change Password" />*@
                                    <button type="button"  id="BtnChangeBTN" class="btn btn-primary btn-block btn-flat"><i class="	fa fa-unlock"></i> Change Password</button>
                                  <br />  <div class="row">
                                        <div class="col-xs-12 pull-right">
                                            <div class="form-group">
                                                <label class="text-muted"><small>Sample Password based on your profile.</small></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" rel="gp" data-size="10" data-character-set="SGH,a-z,A-Z,0-9">
                                                    <span class="input-group-btn"><button type="button" class="btn btn-default getNewPass"><span class="fa fa-refresh"></span></button></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="alert alert-info" style="font-size: 12px;" role="alert">
                                        <b>Password Reminder(s)</b><br>
                                        <ul>
                                            <li>Password will expire within <b>90</b> days.</li>
                                            <li>You can use password only once, you will need a different password upon renewal.</li>
                                            <li>Verification Code will be sent to you upon changing/updating your password.</li>
                                            <li>Do not give or share password with anyone.</li>
                                            <li>Use a combination of alphanumeric characters when setting our password ( Upper [A-Z] Lower [a-z], Number [0-9] and Special Characters [ # $ % & * !] etc .</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            </div> 
                    </div>
                </div>
            </div>
        </div>

        <input id="enryppassword" name="" type="hidden" class="form-control">
    </div>
</div>

<div class="modal fade" id="modal-punchin" style=" padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="user-block">
                    <img src="~/Content/dist/img/saudiavatar.png" class="img-circle" alt="User Image" style=" border: 2px solid #3db76d;">

                    <span class="username punchin_username"><a href="#">JFJ</a></span>
                    <span class="description">note: this is for your reference only for the last 7 days!!</span>
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>

                            <th>DATE</th>
                            <th>TIME IN</th>
                            <th>TIME OUT</th>
                            <th>Shift</th>

                        </tr>

                    </thead>
                    <tbody id="tr_punchin"></tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-mostusedmodule" style=" padding-right: 17px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="user-block">
                    <img src="~/Content/dist/img/_saudi_arabian_woman-512.png" class="img-circle" alt="User Image" style=" border: 2px solid #ffd800;">

                    <span class="username punchin_username"><a href="#">JFJ</a></span>
                    <span class="description">MOST MODULE USED by Employee!!</span>
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>

                            <th>#</th>
                            <th>MODULE</th>
                            <th>Counter</th>
                        </tr>

                    </thead>
                    <tbody id="tr_moduleused" class="text-center">
                        <tr>
                            <td>1</td>
                            <td id="mostused_Mod_1"></td>
                            <td id="mostused_Counter_1"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td id="mostused_Mod_2"></td>
                            <td id="mostused_Counter_2"></td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td id="mostused_Mod_3"></td>
                            <td id="mostused_Counter_3"></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td id="mostused_Mod_4"></td>
                            <td id="mostused_Counter_4"></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td id="mostused_Mod_5"></td>
                            <td id="mostused_Counter_5"></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td id="mostused_Mod_6"></td>
                            <td id="mostused_Counter_6"></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td id="mostused_Mod_7"></td>
                            <td id="mostused_Counter_7"></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td id="mostused_Mod_8"></td>
                            <td id="mostused_Counter_8"></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td id="mostused_Mod_9"></td>
                            <td id="mostused_Counter_9"></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td id="mostused_Mod_10"></td>
                            <td id="mostused_Counter_10"></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td id="mostused_Mod_11"></td>
                            <td id="mostused_Counter_11"></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td id="mostused_Mod_12"></td>
                            <td id="mostused_Counter_12"></td>
                        </tr>


                    </tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-iplist" style=" padding-right: 17px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="user-block">
                    <img src="~/Content/dist/img/a943-512.png" class="img-circle" alt="User Image" style=" border: 2px solid #0848fb;">

                    <span class="username punchin_username"><a href="#">JFJ</a></span>
                    <span class="description">MOST IP ADDRESS USED</span>
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>

                            <th>#</th>
                            <th>IP ADDRESS</th>
                            <th>Counter</th>
                        </tr>

                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>1</td>
                            <td id="ipadd_1"></td>
                            <td id="ipadd_Counter_1"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td id="ipadd_2"></td>
                            <td id="ipadd_Counter_2"></td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td id="ipadd_3"></td>
                            <td id="ipadd_Counter_3"></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td id="ipadd_4"></td>
                            <td id="ipadd_Counter_4"></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td id="ipadd_5"></td>
                            <td id="ipadd_Counter_5"></td>
                        </tr>



                    </tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@Scripts.Render("~/Scripts/jqhome")
<input type="hidden" id="url"
       data-openpage="@Url.Action("OpenPage")"
       data-menupage="@Url.Action("OpenMenu")"
       data-getuserinfo="@Url.Action("GetUserInformation", "Home")"
       data-getuserid="@userid"
       data-changepasswordsave="@Url.Action("ChangePasswordSave", "Home")"
       data-changepassword="@Url.Action("ChangePassword", "Home")"
       data-home="@Url.Action("Index", "Home")"
       data-logchar="@Url.Action("LogChart", "Home")"
       data-punchindetails="@Url.Action("PunchInDetails", "Home")"
       data-getuserinfopassworddaysremaining="@Url.Action("GetUserPasswordDaysRemaining", "Home")" />


<script type="text/javascript">



    $(function () {
        var possible = '';
        console.log('lock-->' + getCookie("lock"));

        // for hard refresh atleast for 2 seconds
        if (getCookie("hardrefresh") !== "for hard refresh to update script rush rush rush") {
            location.reload(true);
            setCookie("hardrefresh", "for hard refresh to update script rush rush rush", 1)
        }

        setTimeout(function () { $('.sidebar-toggle').click(); }, 1500);
        setTimeout(function () { $('#toggle-report').click(); }, 6000);
        setTimeout(function () { $('.spinning_data').hide(); }, 3000);



        if (getCookie("lock") !== "true") {
            GetPunchinDetails();
            GetDataALLEmployee();
        }
        // Generate a password string
        function randString(id) {
            var dataSet = $(id).attr('data-character-set').split(',');
            var possible = '';
            if (USERPROFILE.length == 0) { location.reload(); }

            if ($.inArray('SGH', dataSet) >= 0) {
                var name = unique($.trim(USERPROFILE.Name));
                name = name.replace(/\s/g, "");
                name = name.replace("-", "");

                possible += name;
            }
            //if($.inArray('a-z', dataSet) >= 0){
            //  possible += 'abcdefghijklmnopqrstuvwxyz';
            //}
            //if($.inArray('A-Z', dataSet) >= 0){
            //  possible += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            //}
            //if($.inArray('0-9', dataSet) >= 0){
            //  possible += '0123456789';
            //}
            //if($.inArray('#', dataSet) >= 0){
            //  possible += '![]{}()%&*$#^<>~|';
            //}
            var text = '';
            for (var i = 0; i < $(id).attr('data-size'); i++) {
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            }
            return text;
        }

        //// Create a new password on page load
        //$('input[rel="gp"]').each(function(){
        //  $(this).val(randString($(this)));
        //});

        // Create a new password
        $(".getNewPass").click(function () {


            var field = $(this).closest('div').find('input[rel="gp"]');
            field.val(randString(field));
        });

        // Auto Select Pass On Focus
        $('input[rel="gp"]').on("click", function () {
            $(this).select();
        });

        function unique(str) {
            var result = '';
            for (var i = 0; i < str.length; i++) {
                if (result.indexOf(str[i]) < 0) {
                    result += str[i];
                }
            }
            return result;
        }



        // -----------------------
        // - MONTHLY SALES CHART -
        // -----------------------


        // Create the line chart

        var LoginChartData = {};
        var LoginChartOptions = {};
        // Get context with jQuery - using jQuery's .get() method.
        var LoginChartCanvas = $('#LoginChart').get(0).getContext('2d');
        // This will get the first returned node in the jQuery collection.
        var LoginChart = new Chart(LoginChartCanvas);



        LoginChartOptions = {
            // Boolean - If we should show the scale at all
            showScale: true,
            // Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            // String - Colour of the grid lines
            scaleGridLineColor: 'rgba(0,0,0,.05)',
            // Number - Width of the grid lines
            scaleGridLineWidth: 1,
            // Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            // Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            // Boolean - Whether the line is curved between points
            bezierCurve: true,
            // Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
            // Boolean - Whether to show a dot for each point
            pointDot: true,
            // Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            // Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            // Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            // Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            // Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            // Boolean - Whether to fill the dataset with a color
            datasetFill: true,
            // String - A legend template
            legendTemplate: '<ul class=\'<%=name.toLowerCase()%>-legend\'><% for (var i=0; i<datasets.length; i++){%><li><span style=\'background-color:<%=datasets[i].lineColor%>\'></span><%=datasets[i].label%></li><%}%></ul>',
            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            // Boolean - whether to make the chart responsive to window resizing
            responsive: true
        };
        if (getCookie("lock") !== "true") {
            $.ajax({
                url: $('#url').data('logchar'), success: function (result) {

                    data = result.list;

                    LoginChartData = {
                        labels:// ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                            [data[0].all_user_modulename
                                , data[1].all_user_modulename
                                , data[2].all_user_modulename
                                , data[3].all_user_modulename
                                , data[4].all_user_modulename
                                , data[5].all_user_modulename
                            ],
                        datasets: [
                            {
                                label: 'HIS MODULE',
                                fillColor: 'rgb(123, 157, 145)',
                                strokeColor: 'rgb(210, 214, 222)',
                                pointColor: 'rgb(208, 220, 216)',
                                pointStrokeColor: '#6D93D1',
                                pointHighlightFill: '#FF0000',
                                pointHighlightStroke: 'rgb(220, 88, 88)',
                                data: [data[0].all_user_count
                                    , data[1].all_user_count
                                    , data[2].all_user_count
                                    , data[3].all_user_count
                                    , data[4].all_user_count
                                    , data[5].all_user_count

                                ]
                            }

                        ]
                    };

                    LoginChart.Line(LoginChartData, LoginChartOptions);
                    LoggedinCounter(data);

                    ModalUSED(data);
                    $('#total_emp_login_count').html(data[0].total_login);

                    $('#most_used_mod').html(data[0].module_use);
                    $('#most_ipadd_used').html(data[0].IPAddress);


                }
            });
        }


    });

    function ModalUSED(data) {

        $.each(data, function (e, val) {

            if (val.module_use !== "0") {
                $('#mostused_Mod_' + val.MonthNumber).html(' ' + val.module_use + ' ');
                $('#mostused_Counter_' + val.MonthNumber).html('<span class="label bg-red">' + val.module_count + '</span>');
            }
            if (val.IPAddress !== "0") {
                $('#ipadd_' + val.MonthNumber).html(' ' + val.IPAddress + ' ');
                $('#ipadd_Counter_' + val.MonthNumber).html('<span class="label bg-blue">' + val.ip_count + '</span>');
            }
        });

    }
    function LoggedinCounter(data) {

        var LoggedinCounterOptions = {
            // Boolean - Whether we should show a stroke on each segment
            segmentShowStroke: true,
            // String - The colour of each segment stroke
            segmentStrokeColor: '#fff',
            // Number - The width of each segment stroke
            segmentStrokeWidth: 1,
            // Number - The percentage of the chart that we cut out of the middle
            percentageInnerCutout: 50, // This is 0 for Pie charts
            // Number - Amount of animation steps
            animationSteps: 100,
            // String - Animation easing effect
            animationEasing: 'easeOutBounce',
            // Boolean - Whether we animate the rotation of the Doughnut
            animateRotate: true,
            // Boolean - Whether we animate scaling the Doughnut from the centre
            animateScale: false,
            // Boolean - whether to make the chart responsive to window resizing
            responsive: true,
            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: false,
            // String - A legend template
            legendTemplate: '<ul class=\'<%=name.toLowerCase()%>-legend\'><% for (var i=0; i<segments.length; i++){%><li><span style=\'background-color:<%=segments[i].fillColor%>\'></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>',
            // String - A tooltip template
            tooltipTemplate: '<%=value %> <%=label%> Login Count'
        };

        var LoggedinCounterData = {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

            ,
            datasets: [
                //{
                //    label: "My First dataset"
                //    , fillColor: "rgba(220,220,220,0.5)"
                //    , strokeColor: "rgba(220,220,220,0.8)"
                //    , highlightFill: "rgba(220,220,220,0.75)"
                //    , highlightStroke: "rgba(220,220,220,1)"
                //    , data: [data[0].module_count
                //        , data[1].module_count
                //        , data[2].module_count
                //     ]
                //},
                {
                    label: "My Second dataset"
                    , fillColor: "rgba(151,187,205,0.5)"
                    , strokeColor: "rgba(151,187,205,0.8)"
                    , highlightFill: "rgba(151,187,205,0.75)"
                    , highlightStroke: "rgba(151,187,205,1)"
                    , data: [data[0].sum_of_login
                        , data[1].sum_of_login
                        , data[2].sum_of_login
                        , data[3].sum_of_login
                        , data[4].sum_of_login
                        , data[5].sum_of_login
                        , data[6].sum_of_login
                        , data[7].sum_of_login
                        , data[8].sum_of_login
                        , data[9].sum_of_login
                        , data[10].sum_of_login
                        , data[11].sum_of_login
                    ]
                }
            ]
        };
        var canvas;

        Chart.defaults.global.responsive = true;

        var ctx = $('#barChart').get(0).getContext('2d');
        var barChart = new Chart(ctx).Bar(LoggedinCounterData, LoggedinCounterOptions);

    }

    function GetPunchinDetails() {
        $.ajax({
            url: $('#url').data('punchindetails'), success: function (result) {
                let html_tr = ' ';

                var Lastpunchin = 0;
                var LastpunchOut = 0;


                $.each(result.list, function (index, value) {
                    let NAME = value.Name;
                    let Todate = value.Todate;

                    let InTime = value.InTime == "" ? " " : "<span class='badge bg-aqua'><i class='fa fa-clock-o'></i>" + moment(value.InTime).format('hh:mm A') + "</span>";
                    let InTime1 = value.InTime1 == "" ? " " : "<span class='badge bg-blue'>" + moment(value.InTime1).format('hh:mm A') + "</span>";


                    let OutTime = value.OutTime == "" ? " " : "<span class='badge bg-aqua'><i class='fa fa-clock-o'></i> " + moment(value.OutTime).format('hh:mm A') + "</span>";
                    let OutTime1 = value.OutTime1 == "" ? " " : "<span class='badge bg-blue'>" + moment(value.OutTime1).format('hh:mm A') + "</span>";


                    if (value.InTime !== "") {

                        Lastpunchin = moment(value.Todate).format('DD-MMM') + ' ' + moment(value.InTime).format('hh:mm A');

                    }
                    if (value.InTime1 !== "") {

                        Lastpunchin = moment(value.Todate).format('DD-MMM') + ' ' + moment(value.InTime1).format('hh:mm A');
                    }
                    if (value.OutTime !== "") {

                        LastpunchOut = moment(value.Todate).format('DD-MMM') + ' ' + moment(value.OutTime).format('hh:mm A');
                    }
                    if (value.OutTime1 !== "") {

                        LastpunchOut = moment(value.Todate).format('DD-MMM') + ' ' + moment(value.OutTime1).format('hh:mm A');
                    }

                    let Shiftname = value.Shiftname == "" ? "" : value.Shiftname;

                    html_tr = html_tr + '<tr>';

                    html_tr = html_tr + ' <td>';
                    html_tr = html_tr + ' ' + moment(Todate).format('DD-MMMM ddd');
                    html_tr = html_tr + ' </td>';

                    html_tr = html_tr + ' <td>';
                    html_tr = html_tr + ' ' + InTime;
                    html_tr = html_tr + ' ' + InTime1;
                    html_tr = html_tr + ' </td>';

                    html_tr = html_tr + ' <td>';
                    html_tr = html_tr + ' ' + OutTime;
                    html_tr = html_tr + ' ' + OutTime1;
                    html_tr = html_tr + ' </td>';

                    html_tr = html_tr + ' <td>';
                    html_tr = html_tr + '<span class="badge bg-yellow">' + Shiftname + '</span> ';
                    html_tr = html_tr + ' </td>';



                    html_tr = html_tr + '</tr>';
                    $('.punchin_username').html(NAME);
                    $('#last_punchin').html('<span class="badge bg-yellow">' + Lastpunchin + '</span> ' + '<span class="badge bg-yellow">' + LastpunchOut + '</span> ');
                });


                $('#tr_punchin').html(html_tr);

            }
        });

    }

    function GetDataALLEmployee() {

        $.ajax({
            url: '/HISITADMIN/ITADMIN/EmployeeDetails/GetCountEmployees', success: function (result) {

                $.each(result, function (i, row) {

                    $('#' + row.field).html(row.count);

                });

            }
        });
    }
</script>
