@{
    ViewBag.Title = "OP Tariff";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-5">
                <h4><span class="navbar-header">OP TARIFF</span></h4>
            </div>
            <div class="navbar-collapse navbar-right">
                <button type="button" class="btn btn-sm btn-info AR_custom_btn_fixed_width" id="optariffpreview">
                    <span class="glyphicon glyphicon-eye-open"></span> Print Preview
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="IT_custom_filter_container">
                <div class="col-sm-3">
                    <label class="label-control">Tariff Category</label>
                    <input type="text" id="tariff" class="form-control" disabled="disabled" />
                </div>
                <div class="col-sm-3">
                    <label class="label-control">Service</label>
                    <input type="text" id="service" class="form-control" disabled="disabled" />
                </div>
                <div class="col-sm-3">
                    <label class="label-control">Department</label>
                    <input type="text" id="dept" class="form-control" disabled="disabled" />
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
        <div class="form-group">
            <table class="table table-condensed table-bordered table-striped" id="tarifftable">
                <thead class="IT_custom_table_header">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:98% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Report Generated</h4>
            </div>
            <div class="modal-body">
                <div id="report-container">
                    <iframe id="myReport2"></iframe>
                </div>
                <div class="clear-botn"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="url"
    data-reporturl ="@Url.Content("~/Areas/AROPBILLING/Reports/Reports.aspx")" 
    data-arcommon="@Url.Content("~/Common")"
    data-gettariffdept="@Url.Action("get_tariff_Department")"
    data-gettariffprice ="@Url.Action("get_Tariff_Price")"
/>
@Scripts.Render("~/Scripts/commonwrapper")
@Scripts.Render("~/Scripts/jsOPTariff")
