@model HIS_MCRS.Areas.ManagementReports.ViewModels.RadiologyReportXrayReferral

@{
    ViewBag.Title = "Radiology Reports";
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    //options.Confirm = "Do you wish to submit this form?";
    options.OnBegin = "_indicator.Body()";
    options.OnComplete = "_indicator.Stop()";
    //options.OnFailure = "OnFailure";
    //options.OnSuccess = "OnSuccess";
    //options.LoadingElementId = "loading";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "reportWrapper";
    options.InsertionMode = InsertionMode.Replace;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-5">
                <h4><span class="navbar-header">Xray Referral from ER Report</span></h4>
            </div>
            <div class="navbar-collapse navbar-right">
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm(options))
    {
        <div class="panel-body">

            <div class=" col-xs-12">
                <div class="col-xs-6 border10">




                    @Html.LabelFor(m => m.StartDate, new { @class = "col-xs-2 top5" })

                    <div class="col-xs-4">

                        <div class="input-group">
                      @*      @Html.TextBoxFor(m => m.StartDate,Model.StartDate.ToString("dd-MMM-yyyy"), new
                       {
                           @readonly = true,
                           @class = "datepicker form-control",
                           style = "z-index:0 !important;",
                           data_bind = "datepicker:$root.StartDate, datepickerOptions:{format: 'dd-M-yyyy', autoclose: true}"
                       })*@
                            @Html.TextBoxFor(m => m.StartDate, Model.StartDate.ToString("dd-MMM-yyyy"), new { 
                        @readOnly="true",@class="datepicker form-control ",style="",data_bind="datepicker:$root.StartDate, datepickerOptions:{format:'dd-M-yyyy',autoclose:true}" 
                    })
                            <span class="input-group-btn ">
                                <button data-bind="glyphfor:'StartDate'" class="btn btn-default glyphicon glyphicon-calendar" type="button" style="margin-top: -1px;"></button>
                            </span>
                        </div>

                    </div>
                    @Html.LabelFor(m => m.EndDate, new { @class = "col-xs-1 top5" })
                    <div class="col-xs-4">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.EndDate, Model.EndDate.ToString("dd-MMM-yyyy"), new { 
                        @readOnly="true",@class="datepicker form-control ",style="",data_bind="datepicker:$root.EndDate, datepickerOptions:{format:'dd-M-yyyy',autoclose:true}" 
                    })
                            <span class="input-group-btn">
                                <button data-bind="glyphfor:'EndDate'" class="btn btn-default glyphicon glyphicon-calendar" type="button" style="margin-top: -1px;"></button>
                            </span>
                        </div>
                    </div>

                   
                </div>

                <div class="col-xs-4">
                </div>

                <div class="col-xs-2">
                    <div class="pull-right col-xs-10">
                        <button id="RunReport" type="submit" class="btn btn-success col-xs-12" value="RunReport">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                        <a id="Close" href="@Url.Action("Index", "RadiologyReports")" class="top5 btn btn-danger col-xs-12">
                            <span class="glyphicon glyphicon-off"></span> Close
                        </a>

                    </div>
                </div>
            </div>

            <div id="reportWrapper" class="container-fluid" style="margin-top:11%;" />


        </div>
    }
</div>

<input id="urlInput" class="hidden" data-print="@Url.Action("Preview", "Print", new { Area = "" })" />

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/knockoutjs")
@section Scripts{
    <script type="text/javascript" src="~/Scripts/MCRS/global/dialogwrapper.js"></script>
    <script type="text/javascript" src="~/Scripts/MCRS/radiologyreports/xrayreferral.js"></script>
    <script type="text/javascript">
        var viewModel = ""
        $(document).ready(function () {
            var data = '@Html.Raw(Json.Encode(this.Model))';
            viewModel = new ViewModel(JSON.parse(data), $("#urlInput"));
            ko.applyBindings(viewModel);
        });
    </script>
}
