@model List<DataLayer.UserModules>
@{
    FormsIdentity id = (FormsIdentity)User.Identity;
    FormsAuthenticationTicket ticket = id.Ticket;
    var d = ticket.UserData.Split('|');
    var userid = d[0];

    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div class="application-title">
    Hospital Information System (HIS) / Home
</div>



<!-- Modal -->
<div id="DivChangePass" class="modal fade" role="dialog"  >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
        <h4 class="modal-title"> <b>Change Password123 -test </b></h4>
      </div>
     
      <div class="modal-body" >

      <div class="" id="UserForm">
                 <br />     
     <h5><center>Hospital Information System (HIS) -  Password Policy! </center></h5>
                       <div class="progress">
                         <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="2" style="width: 50%;">
                           Step 1 of 2
                         </div>
                       </div>
  
                       <div class="navbar">
                          <div class="navbar-inner">
                                <ul class="nav nav-pills">
 

                                   <li class="active"  style="display:none;"><a href="#step1" data-toggle="tab" data-step="1" id="Step1" >Step 1</a></li>
                                  <li style="display:none;"><a href="#step2" data-toggle="tab" data-step="2" id="Step2" >Step 2</a></li>
                                   @* <li><a href="#step3" data-toggle="tab" data-step="3" >Step 3</a></li>*@
                                  @* <li><a href="#step4" data-toggle="tab" data-step="4">Step 4</a></li>
                                   <li><a href="#step5" data-toggle="tab" data-step="5">Step 5</a></li>*@
                                </ul>
                          </div>
                       </div>
                       <div class="tab-content">
                          <div class="tab-pane fade in active" id="step1">
         
                            <div class="well" > 
                                 <input class="form-control input-sm"  value="@User.Identity.Name" disabled >
                                 <input class="form-control input-sm" type="password"   title="(At least one letter/One capital letter)/(One number)/(8 characters in length)" style="margin-top:5px;" id="txtOldPassword"   placeholder="Current / Old Password">
                            </div>                                 
                               <a class="btn btn-success" href="#" id="btnStep1">Continue  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                               <a style="display:none;" class="btn btn-success next" href="#" id="btnStep1Hidden">Continue  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                              
                             
                          </div>

                        <div class="tab-pane fade" id="step2">
                             <div class="well"> 
                                <input class="form-control input-sm" type="password"  title="(At least one letter/One capital letter)/(One number)/(8 characters in length)" style="margin-top:5px;" id="txtNewPassword"  placeholder="New Password" >
                                <input class="form-control input-sm" type="password"  title="(At least one letter/One capital letter)/(One number)/(8 characters in length)"  style="margin-top:5px;" id="txtresitConfirmPassword"  placeholder="Confirm Password" >
                             </div>
                                <a class="btn btn-success btn-sm next" id="BtnChange" href="#">Change Password</a>
                          </div>
                       </div>
  
                            <hr>
                            <small style="color: black;" >(At least one letter/One capital letter)/(One number)/(8 characters in length) <br> <br>Application passwords must be changed at least every <b>90 days</b> and cannot re-use
your past 5 passwords. </small>
                            <hr>
  
 
  
                    </div>





      </div>
      <div class="modal-footer">
        @*<button type="button" class="btn btn-danger btn-sm " data-dismiss="modal">Close</button>*@
           @*<a class="btn btn-info" href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"> Home</a>*@
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="ErrorMsg" class="modal fade" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> <b>Notification </b></h4>
      </div>
      <div class="modal-body" id="errorbody">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm " data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="ThankyouMsg" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> <b>Notification </b></h4>
      </div>
      <div class="modal-body"  id="ThankyouMsgbody">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
           <a href="@Url.Action("Index", "Home", new { area = "" })" 
                data-toggle="tooltip" 
                title="Click here to Home...">
                <span class="glyphicon glyphicon-home"></span> <b>Home</b>
            </a>
        
      </div>
    </div>

  </div>
</div>

 

<div class="home2_module_cont"> 
    <br />

<div class="sgh_center_all center-block" style="color: black;">
      <input id="enryppassword" name="" type="hidden" class="form-control">
     
        
          
               
 
    </div>
            </div>
<div class="home2_toggle_button" id="home_toggle">
    <span class="glyphicon glyphicon-chevron-right"></span>
</div>

<div class="home2_info_cont"> 
    <div class="home2_user_info">
        <b style="color:#999;">Welcome,</b> <br />
        <b style="color:#666;">@User.Identity.Name</b><br />
        <div style="margin-top:5px;">
            <a href="@Url.Action("LogOff", "Login", new { area = "" })" 
                data-toggle="tooltip" 
                title="Click here to logout...">
                <span class="glyphicon glyphicon-log-out"></span> <b>Logout</b>
            </a><br />
             <a href="@Url.Action("Index", "Home", new { area = "" })" 
                data-toggle="tooltip" 
                title="Click here to view your Homepage">
 
                <span class="glyphicon glyphicon-home"></span> <b>Home</b>
            </a>

        </div>
    </div>
    <div class="home2_user_image">
        <img src="../Images/user_iconv2.png" width="72" height="72" />
    </div>
    <div class="clear-both"></div>
    <hr />
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
   

</div>
 
@Scripts.Render("~/Scripts/login/jqChangePassword.js")
<input type="hidden" id="url"
    data-getuserinfo ="GetUserInformation"
    data-getuserid ="@userid"
    data-changepasswordsave ="ChangePasswordSave"
        data-home="@Url.Action("Index","Home")"

    
    />
 
 