<!DOCTYPE html>
<html>
<head>
    @{        
        FormsIdentity id = (FormsIdentity)User.Identity;
        FormsAuthenticationTicket ticket = id.Ticket;
        var d = ticket.UserData.Split('|');    
    }
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Styles/plugins/global")
    @Styles.Render("~/Styles/global")
    @Styles.Render("~/Styles/custom")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/plugins/global")
    @Scripts.Render("~/Scripts/global")
    @Scripts.Render("~/Scripts/custom")
    <script src="~/Scripts/itadmin/jqGlobal.js"></script>
    <script src="~/Content/plugins/toastr/scripts/toastr.min.js"></script>
    <script src="~/Content/plugins/common/common.js"></script>
    <script src="~/Content/plugins/moment/moment.js"></script>
    <link href="~/Content/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Content/plugins/datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/Content/plugins/bootbox/jquery.bootbox.js"></script>
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <link href="~/Content/styles/spinner.css" rel="stylesheet" />
    <script src="~/Content/plugins/inputmask/jquery.inputmask.js"></script>
    <script src="~/Content/plugins/inputmask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Scripts/messagebox.js"></script>
    <script src="~/Content/plugins/blockui/jquery.blockUI.js"></script>
    <script src="~/Content/plugins/icheck3/icheck.js"></script>
 @*   <script src="~/Content/plugins/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/datepicker/js/bootstrap-datetimepicker.min.js"></script>*@
    <script src="~/Content/js/CtrlStyle.js"></script>
    <script src="~/Content/js/dataFractionalization.js"></script>
    <script src="~/Content/js/GridViewControlEvents.js"></script>
    <script src="~/Content/js/validationRoutine.js"></script>
    <script src="~/Content/datatable/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/datatable/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/keytable/jquery.dataTables.editable.js"></script>
    <script src="~/Content/plugins/keytable/keytable.js"></script>
    <link href="~/Content/styles/loading.css" rel="stylesheet" />
    <script src="~/Content/plugins/tooltip/jquery.powertip.min.js"></script>
    <link href="~/Content/plugins/tooltip/jquery.powertip.min.css" rel="stylesheet" />
@*    <img src="~/Images/tri.png" />*@
   @* <script src="@Url.Content("~/Content/plugins/icheck3/icheck.js")" type="text/javascript"></script>*@
  @*  <script src="~/Content/plugins/icheck/jquery.icheck.js"></script>*@
@*    <link href="~/Content/plugins/icheck2/all.min.css" rel="stylesheet" />*@
</head>
<body style="background-image: url('../Images/tri.png') !important;">
    <nav class="navbar navbar-default navbar-fixed-top yamm" role="navigation">
        <div class="application-title">
            <div class="pull-left cAR-title"id="txtstationame" 
                data-urlsecure="@Url.Action("SecurityFeature", "Base", new { area = "" })" 
                data-urlfunction="@Url.Action("SecurityFunction", "Base", new { area = "" })"
                data-appmenu="@Url.Action("GetMenu", "Home", new { area = "" })"
                >
                @ViewBag.Title                 
            </div>
            <div class="pull-right AR_user_cont">
                <ul class="nav navbar-nav ar_mini_top_menu" style="margin-right: 5px !important;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider" style="height: 1px !important; padding: 0 !important;"></li>
                            <li>
                                <a href="@Url.Action("LogOff", "Home", new { area = "" }, null)"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <user><span class="glyphicon glyphicon-user"></span>  User: @User.Identity.Name!</user>
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="clear-both"></div>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/HISLOGIN"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <div id="url-menu"></div>
            </div>
        </div>
    </nav>
    <div class="container-fluid cAR-panel-top cAR-margin-top _mainiframe">
        @RenderBody()
    </div>
           <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;

        <div id="spinningSquaresG">
            <div id="spinningSquaresG_1" class="spinningSquaresG">
            </div>
            <div id="spinningSquaresG_2" class="spinningSquaresG">
            </div>
            <div id="spinningSquaresG_3" class="spinningSquaresG">
            </div>
            <div id="spinningSquaresG_4" class="spinningSquaresG">
            </div>
            <div id="spinningSquaresG_5" class="spinningSquaresG">
            </div>
            <div id="spinningSquaresG_6" class="spinningSquaresG">
            </div>
            <div id="spinningSquaresG_7" class="spinningSquaresG">
            </div>
            <div id="spinningSquaresG_8" class="spinningSquaresG">
            </div>
        </div>
        </div>

    </div>

    @RenderPage("~/Views/Shared/_Footer.cshtml")
    

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
