@model HIS_MCRS.Areas.ManagementReports.ViewModels.DAPatientMovementAnalysis
@using HIS_MCRS.Common

@{
    ViewBag.Title = "Doctor's Analysis Reports";
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    //options.Confirm = "Do you wish to submit this form?";
    options.OnBegin = "_indicator.Body()";
    options.OnComplete = "_indicator.Stop()";
    //options.OnFailure = "OnFailure";
    //options.OnSuccess = "OnSuccess";
    //options.LoadingElementId = "loading";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "reportWrapper";
    options.InsertionMode = InsertionMode.Replace;
}


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-5">
                <h4><span class="navbar-header">Patient Movement Analysis</span></h4>
            </div>
            <div class="navbar-collapse navbar-right">
            </div>
        </div>
    </div>
    <div class="panel-body" style="height: auto;">
        @using(Ajax.BeginForm(options)){
           
            <div class="form-group">
                <p><strong>Report Date Range </strong></p>
                <div class="col-xs-3">
                    @Html.LabelFor(m => m.StartDate, new { @class = "col-xs-4 top5" })

                    <div class="col-xs-7 input-group">
                        @Html.TextBoxFor(m => m.StartDate,Model.StartDate.ToString("dd-MMM-yyyy"),new
                       {
                           @class = "datepicker form-control",
                           style = "z-index:0 !important;",
                           data_bind = "datepicker:$root.StartDate, datepickerOptions:{format: 'dd-M-yyyy',autoclose: true}"
                       })
                        <span class="input-group-btn ">
                            <button data-bind="glyphfor:'@Html.IdFor(m=>m.StartDate)'" class="btn btn-default glyphicon glyphicon-calendar" type="button" style="margin-top: -1px;"></button>
                        </span>
                    </div>


                    @Html.LabelFor(m=>m.EndDate, new { @class = "col-xs-4 top10" })

                    <div class="col-xs-7 input-group top5">
                        @Html.TextBoxFor(m => m.EndDate,Model.EndDate.ToString("dd-MMM-yyyy"),new
                       {
                           @class = "datepicker form-control",
                           style = "z-index:0 !important;",
                           data_bind = "datepicker:$root.EndDate, datepickerOptions:{format: 'dd-M-yyyy',autoclose: true}"
                       })
                        <span class="input-group-btn ">
                            <button data-bind="glyphfor:'@Html.IdFor(m=>m.EndDate)'" class="btn btn-default glyphicon glyphicon-calendar" type="button" style="margin-top: -1px;"></button>
                        </span>
                    </div>

                </div>
               @* <div class="col-xs-4">
                   
                </div>*@
                <div class="col-xs-4 row" style="margin-left: -50px;">
                    
                    @Html.LabelFor(m => m.DepartmentId, new { @class = "col-xs-3 top10" })
                    <div class="col-xs-8 top5">
                        <select id="@Html.IdFor(m=>m.DepartmentId)" name="@Html.NameFor(m=>m.DepartmentId)"
                         class="select2 form-control" style="font-size:12px;"
                          data-bind="options:$root.Departments,
                              value: $root.SelectedDepartment,
                              optionsText:'Name' ,
                              optionsValue:'Id',
                              select2: {allowClear: true,placeholder:'Select Department'},event:{ change: $root.permissionChanged}">
                        </select>
                    </div>
                    @Html.LabelFor(m => m.DoctorId, new { @class = "col-xs-3 top10" })
                    <div class="col-xs-8 top5">
                        <select id="@Html.IdFor(m=>m.DoctorId)" name="@Html.NameFor(m=>m.DoctorId)"
                         class="select2 form-control" style="font-size:12px;"
                          data-bind="options:$root.Doctors,
                              value:$root.SelectedDoctor,
                              optionsText:'FullName' ,
                              optionsValue:'OperatorId',
                              select2: {allowClear: true,placeholder:'Select Department'}" onchange="onchangeDoctor(this)"></select>
                    </div>
                    @Html.HiddenFor(m=>m.DoctorName, new { data_bind = "value: ko.toJSON($root.Doctors())" })
                </div>
                <div class="col-xs-3">
                </div>
                <div class="col-xs-2 row" style="margin-left: -50px;">
                    <button id="RunReport" type="submit" class="btn btn-success col-xs-12" value="RunReport">
                        <span class="glyphicon glyphicon-tasks"></span>Run Report
                    </button>
                    <a id="Close"  href="@Url.Action("Index", "DoctorAnalysis")" class="top5 btn btn-danger col-xs-12">
                        <span class="glyphicon glyphicon-off"></span>Close
                    </a>
                </div>
                
                <div id="reportWrapper" class="col-xs-12 container-fluid" style="min-height: 300px;"></div>
            </div>
        }
    </div>
</div>



<input id="urlActions" class="hidden"
    data-searchcompanies="@Url.Action("SearchCompanies")"
    data-searchdoctors="@Url.Action("SearchDoctors")" />

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/knockoutjs")
@section Scripts{
    <script type="text/javascript" src="~/Scripts/MCRS/global/dialogwrapper.js"></script>
    <script type="text/javascript" src="~/Scripts/MCRS/doctoranalysis/js_PatientMovementAnalysis.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var data = '@Html.Raw(Json.Encode(this.Model))';
            var viewModel = new ViewModel(JSON.parse(data));
            viewModel.inputUrlActions = $("#urlActions");
            ko.applyBindings(viewModel);
        });
    </script>
}
