@{
    ViewBag.Title = "Index";
}
<input type="hidden" id="url"
    
data-getotherproced="@Url.Action("OtherProcedureDashBoard")"
data-getotherprocedview="@Url.Action("FetchOtherProcedure")"
data-getdepert="@Url.Action("DepartmentList")"
data-getspecialization="@Url.Action("SpecializationList")"
data-save="@Url.Action("Save")"
/>

<div class="panel panel-default">
   <div class="panel-heading">
      <div class="row">
         <div class="col-sm-3">
            <h4><b class="navbar-header">Other Procedures</b></h4>
         </div>
             <div class="form-group col-sm-9">
            @* <label class="control-label col-sm-1">Type</label>*@
            <button id="btnNew" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-file  pull-right"> New</button>
         </div>
      </div>
  </div>
    
    <div class="panel-body">
                <div class="col-sm-12">
                <table id="gridOtherProced" class="table table-bordered table-hover dataTable no-footer;">
                    <thead class="AR_custom_table_header expanded-group">
                    <tr>
                    @*<th class="centertext compressedtableheader" style="text-align:center"><input id="iChkAllTest" type="checkbox" value="false"/></th>*@
                    <th>SNo</th>
                    <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
           
            </div>
    </div>
   <div class="modal" id="modalEntry" tabindex="-1" style="overflow-y: auto;" role="dialog" aria-labelledby="myModalLabel">
   <input id="Id" name="" type="hidden" class="form-control">
  
   <div class="modal-dialog modal-lg" style="" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="opbmyModalLabel">Other Procedures</h3>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-xs-12">
                  <form role="form" class="form-horizontal AR_custom_label_left_align">
                     <div class="form-group">
                         <label class="control-label col-sm-3">Department:</label>
                        <div class="col-sm-8">
                           <input type="text" class="sel" id="Select2Department"/>
                        </div>     
                     </div>
                     <div class="form-group">
                           <label class="control-label col-sm-3">Specialization:</label>
                        <div class="col-sm-8">
                           <input type="text" class="sel" id="Select2Specialization"/>
                        </div>
                    </div>  
                     <div class="form-group">
                        <label class="control-label col-sm-3">Procedure Name:</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" id="txtName"/>
                        </div>
                         
                     </div>
                      <div class="form-group">
                          <label class="control-label col-sm-3">Cost Price:</label>
                        <div class="col-sm-3">
                           <input type="number" class="form-control" id="txtCostPrice"/>
                        </div>
                             <label class="control-label col-sm-1">Code:</label>
                        <div class="col-sm-4">
                           <input type="text" class="form-control" id="txtCode"/>
                        </div>
                      </div>
                       <div class="form-group">
                              <label class="control-label col-sm-3">Remarks</label>
                        <div class="col-sm-5">
                           <textarea class="form-control" id="txtRemarks" style="width:375px;height:81px;resize:none"> </textarea>
                        </div>
                 </div>
                 <div class="form-group">
                        <label class="control-label col-sm-3">Instructions</label>
                        <div class="col-sm-5">
                           <textarea class="form-control" id="txtInstructions" style="width:375px;height:81px;resize:none"> </textarea>
                        </div>
                      </div>
                    
                     @* 
                     <div id="endos"></div>
                     *@
                  </form>
               </div>
            </div>
            <div class="modal-footer">
               @*<button id="btnModify" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-pencil ShowOnEdit HideOnAdd" data-dismiss="modal">Modify</button>*@
               <button id="btnSave" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-floppy-disk" data-dismiss="modal"> Save</button>
               @*   <button id="btnReportGen" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-th-list ShowOnEdit HideOnAdd" data-dismiss="modal">Preview</button>*@
               <button type="button" class="btn btn-sm btn-default AR_custom_btn_fixed_width" data-dismiss="modal">Cancel</button>
            
            </div>    <a id="btnDelete" class="btn btn-sm btn-success button-width ShowOnEdit HideOnAdd">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </a>
         </div>
      </div>
   </div>
   </div>
</div>




@section scripts{
<script src="~/Scripts/itadmin/OtherProced.js"></script>
}