@{
    ViewBag.Title = "Assistant Surgeon Charge";
}

<input type="hidden" id="url"
data-getsurdashboard="@Url.Action("AsstSurgeonDashBoard")"
data-selecttariff="@Url.Action("TariffList")"
data-selectorno="@Url.Action("ORNOListDal")" 
data-viewasstsurgeon="@Url.Action("AsstSurgeonChargeView")"
data-viewempdetails="@Url.Action("OREmployeeViewDetails")"
data-save="@Url.Action("Save")"
/>
<div class="panel panel-default">
          <div class="panel-heading">
              <div class="row">
                 <div class="col-xs-3">
                    <h4><b class="navbar-header">Asst. Surgeon Charges</b></h4>
                 </div>
                        <div class="form-group col-xs-9">
                           @* <button id="btnRefresh" type="button" class="btn btn-sm btn-success pull-right AR_custom_btn_fixed_width glyphicon glyphicon-folder-refesh" data-dismiss="modal"> Refresh</button>*@
                       @* <label class="control-label col-sm-1">Type</label>*@
                @*        <div class="col-sm-2 pull-right">
                            <input type="text" id="select2PackageType" class="sel" />
                        </div>*@
                  @* <button id="btnNew" type="button" class="btn btn-sm btn-primary pull-right AR_custom_btn_fixed_width glyphicon glyphicon-folder-open ShowOnAdd ShowOnView HideOnEdit" data-dismiss="modal"> New</button>*@
              </div>
           </div>
        </div>
             <div class="panel-body">
                     <div class="col-xs-6">
                      <table id="gridItemList" class="table table-bordered table-hover dataTable no-footer;">
                         <thead class="AR_custom_table_header expanded-group">
                            <tr>
                               <th>Tariff</th>
                                <th>ORNo</th>
                                <th>Percentage</th>
                                <th>SLNO</th>
                                <th></th>
                                <th></th>
                  
                            </tr>
                         </thead>
                      </table>
                          <button id="btnNew" type="button" class="btn btn-sm btn-primary pull-right AR_custom_btn_fixed_width glyphicon glyphicon-folder-open" data-dismiss="modal"> New</button>
                          
             </div>

             </div>
    <div class="modal" id="modalEntry" tabindex="-1" style="overflow-y: auto;" role="dialog" aria-labelledby="myModalLabel">
   <input id="Registrationno" name="" type="hidden" class="form-control">
  
   <div class="modal-dialog modal-lg" style=" " role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="opbmyModalLabel">Asst. Surgeon Charge</h4>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-xs-12">
                  <form role="form" class="form-horizontal AR_custom_label_left_align">
                     <div class="form-group">
                             <label class="control-label col-sm-3">Tariff:</label>
                        <div class="col-sm-8">
                           <input type="text" class="sel" id="Select2tariff"/>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label col-sm-3">ORNo:</label>
                         <div class="col-sm-8">
                           <input type="text" class="sel" id="select2OrNo"/>
                        </div>
                     
                     </div>
                       <div class="form-group">
                            <label class="control-label col-sm-3">Type:</label>
                         <div class="col-sm-5">
                           <input type="text" class="sel" id="select2Type"/>
                        </div>
                     
                       </div>
                        <div class="form-group">
                          <label class="control-label col-sm-3">Percentage:</label>
                        <div class="col-sm-3">
                           <input type="number" class="form-control" id="txtPercentage"/>
                        </div>
                        </div>
                     @* 
                     <div id="endos"></div>
                     *@
                  </form>
               </div>
            </div>
            <div class="modal-footer">
                <button id="btnDelete" type="button" class="btn btn-sm btn-danger AR_custom_btn_fixed_width glyphicon glyphicon-trash HideOnAdd ShowOnEdit">Delete</button>
                <button id="btnModify" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-pencil ShowOnEdit HideOnAdd" data-dismiss="modal">Modify</button>
               <button id="btnSave" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-floppy-disk ShowOnAdd ShowOnView HideOnEdit" data-dismiss="modal">Save</button>
               @*   <button id="btnReportGen" type="button" class="btn btn-sm btn-primary AR_custom_btn_fixed_width glyphicon glyphicon-th-list ShowOnEdit HideOnAdd" data-dismiss="modal">Preview</button>*@
               <button type="button" class="btn btn-sm btn-default AR_custom_btn_fixed_width" data-dismiss="modal">Cancel</button>
            </div>
         </div>
      </div>
   </div>
</div>
      </div>

@section scripts{
<script src="~/Scripts/itadmin/AsstSurgeon.js"></script>

}