@{
    ViewBag.Title = "AR Company Combined Statement";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-5">
                <h4><span class="navbar-header">AR Company Combined Statement</span></h4>
            </div>
            <div class="navbar-collapse navbar-right">
     
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-8" style="padding-left:0px;padding-right:0px;height:540px;">
            <div id="report-container">
                <iframe id="myReport2" style="height: 540px; background-color: #6C7A89;"></iframe>
            </div>
        </div>
        <div class="col-md-4" style="padding-left:0px;padding-right:0px;">
            <div style="padding:5px;padding-left:15px;">
                <form class="AR_custom_font_default AR_custom_label_default AR_custom_label_left_align form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="control-label" for="ptype">Report Format</label>
                            <input type="text" class="form-control" id="reptype" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label" for="fdate">From</label>
                            <div class="input-group">
                                <input type="text" class="form-control def_datepicker" id="fdate" name="fdate" value="@DateTime.Today.ToString("dd-MMM-yyyy")" data-date-end-date="0d" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="_common.dateshow('#fdate');"><span class="glyphicon glyphicon-calendar"></span></button>
                                </span>
                            </div>
                        </div>
                    
                        <div class="col-sm-6">
                            <label class="control-label" for="tdate">To</label>
                            <div class="input-group">
                                <input type="text" class="form-control def_datepicker" id="tdate" name="tdate" value="@DateTime.Today.AddMonths(1).ToString("dd-MMM-yyyy")"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="_common.dateshow('#tdate');"><span class="glyphicon glyphicon-calendar"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label" for="ptype">Trans Type</label>
                            <input type="text" class="form-control" id="ptype" disabled="disabled" />
                        </div>
                        <div class="col-sm-6" style="text-align:center;">
                            <label class="control-label" for="aftercl">Trans. after CL</label>
                            <input type="checkbox" style="margin:auto;margin-top:7px;" class="form-control" id="aftercl" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="control-label" for="catid">Category</label>
                            <input type="text" class="form-control" id="catid" disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="control-label" for="comid">Company</label>
                            <input type="text" class="form-control" id="comid" disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <br />
                            <button type="button" id="btn_print" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-print"></span> Generate Report</button>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                </form>
            </div>
            <div class="clear-both"></div>
            <br />
        </div>
        
        <div class="clear-both"></div>
    </div>
</div>


<input type="hidden" id="url"
       data-reporturl ="@Url.Content("~/Areas/AROPBILLING/Reports/Reports.aspx")" 
       data-arcommon="@Url.Content("~/Common")"
/>
@Scripts.Render("~/Scripts/commonwrapper")
@Scripts.Render("~/Scripts/jsARCompanyCombinedStatement")
