@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BloodBank/Views/Shared/_Layout.cshtml";
}

<input id="Action" name="" type="hidden" class="form-control">
<input id="Id" name="" type="hidden" class="form-control">
<input id="registrationno" name="" type="hidden" class="form-control">
<div id="dtToday" class="hide input-group date">
    <input data-date-format="DD-MMM-YYYY" type="text" class="form-control DisableOnView">
    <span class="input-group-addon">
        <span class="glyphicon-calendar glyphicon"></span>
    </span>
</div>

<div id="headerMain" class="col-xs-12 standardborder">
    <div class="pull-left">
        <span class="glyphicon glyphicon-time" style="font-size: 25px; color: Green; margin: 2px 0 0 5px;"></span>
        <label class="control-label" style="font-size: 18px; color: Green; margin: 2px 0 0 5px;">ISSUE EMERGENCY</label>
    </div>

    <div id="ButtonsOnBoard" class="pull-right" style="margin-top: 3px;">
        <a id="btnSave" class="btn btn-sm btn-success button-width HideOnView ShowOnAdd">
            <span class="glyphicon glyphicon-file"></span>Save
        </a>
        <a id="btnRefresh" class="btn btn-sm btn-success button-width HideOnAdd">
            <span class="glyphicon glyphicon-refresh"></span>Refresh
        </a>
        <a id="btnClose" class="btn btn-sm btn-danger button-width HideOnView ShowOnAdd ShowOnView ShowOnEdit">
            <span class="glyphicon glyphicon-remove"></span>Close
        </a>
    </div>


</div>

<div id="divDashboard" style="" class=" form-horizontal standardborder">
    <div class="row">
        <div id="grid" class="col-xs-12">
            <table id="tblIssueEmergency" class="Hide Show table table-nomargin table-condensed fahad" style="cursor: pointer;">
                <thead class="ColumnHeader cAR-tlist-header">
                    <tr></tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <label class="control-label border" style="background-color: #81dcff; text-align: center; width: 100%;">
                Issued
            </label>
        </div>
        <div class="col-xs-2">
            <label class="control-label border" style="background-color: #fcc9c9; text-align: center; width: 100%;">
                Not Issue
            </label>
        </div>


    </div>
    <br />
    <br />
</div>

@*<div class="modal modalMedium" id="screendetails" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-1" style="width: 10px;">
                        <span class="glyphicon glyphicon-filter" style="font-size: 25px; color: Green;"></span>
                    </div>
                    <div class="col-xs-5">
                        <h4 class="modal-title" id="myModalLabel3" style="color: Green;">
                            Screening

                        </h4>
                    </div>
                </div>
            </div>
            <div class="modal-body form-horizontal">

                <div class="panel-body">

                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-xs-4">
                                <label class="control-label">Unit No.:</label>
                            </div>
                            <div class="col-xs-6">
                                <input id="bagidtitle" name="" type="text" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <label class="control-label">Blood Group Type:</label>
                            </div>
                            <div class="col-xs-6">
                                <input id="scrnbloodgroup" name="" type="text" class="form-control select2">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <label class="control-label">Registration No:</label>
                            </div>
                            <div class="col-xs-6">
                                <input id="scrnRegno" name="" type="text" class="form-control" readonly>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-4">
                                <label class="control-label">Screen Type:</label>
                            </div>
                            <div class="col-xs-6">
                                <input type="checkbox" class="control-center iCheck-helper highlight" id="scrnScreenType" style="" />
                                <label>Rapid</label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <label class="control-label">Screen Result :</label>
                            </div>
                            <div class="col-xs-6">
                                <select id="scrnScreenResult" class="form-control input-xs select2me input-sm" data-placeholder="Select...">
                                    <option value="1" selected>NEGATIVE</option>
                                    <option value="2">POSITIVE</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <label class="control-label">Screen Result Value:  </label>
                            </div>
                            <div class="col-xs-6">
                                <input type="checkbox" class="control-center iCheck-helper highlight" id="scrnScreenResultValueIS" style="" />

                                <input id="scrnScreenResultValue" name="" type="text" class="form-control select2" readonly>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <label class="control-label"><b>Verified : </b></label>
                            </div>
                            <div class="col-xs-6">
                                <input type="checkbox" class="control-center iCheck-helper highlight" id="scrnVerified" />
                            </div>

                        </div>
                    </div>
                    <hr />

                    <div class="col-md-5">
                        <div id="DivComponent">
                            <div class="row">
                                <div class="col-xs-4">
                                    <label class="control-label">Component: </label>

                                </div>
                                <div class="col-xs-6">

                                    <input type="checkbox" class="control-center iCheck-helper highlight" id="scrnComponentIS" style="" />
                                    <input id="scrnComponent" name="" type="text" class="form-control select2" readonly>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="control-label"><b>Screening : </b></label>
                            </div>
                            <div class="col-xs-6">

                                <input type="checkbox" class="control-center iCheck-helper highlight" id="scrnIsScreen" />
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-xs-6">
                                <label class="control-label"><b>Screening Verify : </b></label>
                            </div>
                            <div class="col-xs-6">

                                <input type="checkbox" class="control-center iCheck-helper highlight" id="scrnIsScreenVerify" />
                            </div>

                        </div>


                    </div>




                </div>

            </div>
            <div class="modal-footer">
                <div class="col-xs-6 pull-right">
                    <a id="btnclose" class="button-width btn btn-sm btn-danger pull-right pull-right-margin">
                        <span class="glyphicon glyphicon-remove"></span>Cancel
                    </a>
                    <a id="btnUpdate" class="button-width btn btn-sm btn-success pull-right pull-right-margin ">
                        <span class="glyphicon glyphicon-th-list"></span>Update
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
*@

<div id="divEntryForm" class="col-xs-12 standardborder ShowOnView ShowOnAdd ShowOnEdit" style="display: none;">
    <input id="BloodOrderId" type="hidden" />
    <div class="panel-body form-horizontal border-below">
        <div class="row">
            <div class="col-xs-1">
                <label class="control-label">PIN</label>
            </div>
            <div class="col-xs-3">
                <input id="tbPin" type="text" class="form-control RequiredField" readonly />
            </div>
            <div class="col-xs-1">
                <label class="control-label">Name</label>
            </div>
            <div class="col-xs-3">
                <input id="tbName" type="text" class="form-control RequiredField" readonly />
                <input id="hidIpId" type="hidden" />
            </div>
            <div class="col-xs-1">
                <label class="control-label">Issue No</label>
            </div>
            <div class="col-xs-2">
                <input id="tbIssueNo" type="text" class="form-control" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label class="control-label">Bed No</label>
            </div>
            <div class="col-xs-3">
                <input id="tbBedNo" type="text" class="form-control" readonly />
                <input id="hidBedId" type="hidden" />
            </div>
            <div class="col-xs-1">
                <label class="control-label">Age</label>
            </div>
            <div class="col-xs-1">
                <input id="tbAge" type="text" class="form-control" readonly />
            </div>
            <div class="col-xs-1">
                <label class="control-label">Sex</label>
            </div>
            <div class="col-xs-1">
                <input id="tbSex" type="text" class="form-control" readonly />
            </div>
            <div class="col-xs-1">
                <label class="control-label">Issued Date</label>
            </div>
            <div class="col-xs-2">
                <div id="tbDateOfIssue" class="input-group date">
                    <input data-date-format="DD-MMM-YYYY" type="text" class="form-control DisableOnView" readonly>
                    <span class="input-group-addon">
                        <span class="glyphicon-calendar glyphicon"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label class="control-label">Ward</label>
            </div>
            <div class="col-xs-3">
                <input id="tbWards" type="text" class="form-control" readonly />
                <input id="hidWardsId" type="hidden" />
            </div>
            <div class="col-xs-1">
                <label class="control-label">Doctor</label>
            </div>
            <div class="col-xs-3">
                <input id="tbDoctor" type="text" class="form-control" readonly />
                <input id="hidDoctorId" type="hidden" />
            </div>
            <div class="col-xs-1">
                <label class="control-label">Operator</label>
            </div>
            <div class="col-xs-2">
                <input id="tbOperator" type="text" class="form-control" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label class="control-label">Blood Group</label>
            </div>
            <div class="col-xs-3">
                <input id="tbBloodGroup" type="text" class="form-control" readonly />
                <input id="hidBloodGroupId" type="hidden" />
            </div>
            <div class="col-xs-1">
                <label class="control-label">Requested Blood Group</label>
            </div>
            <div class="col-xs-3">
                <input id="select2RequestedBloodGroup" type="text" class="form-control RequiredField" />
            </div>
        </div>
    </div>
    <div class="panel-body form-horizontal border-below">
        <div class="row">
            <div class="col-xs-1">
                <label class="control-label">Issued By</label>
            </div>
            <div class="col-xs-3">
                <input id="select2RequestedIssuedBy" type="text" class="form-control" />
            </div>
            <div class="col-xs-1">
                <label class="control-label">Collected By</label>
            </div>
            <div class="col-xs-3">
                <input id="select2RequestedCollectedBy" type="text" class="form-control" />
            </div>
            <div class="col-xs-1">
                <label class="control-label">Transfusion Type</label>
            </div>
            <div class="col-xs-2">
                <div class="col-xs-4">
                    <label>Surgey</label>
                    <input type="radio" id="rbSurgery" name="groupTransfusionType" class="form-control" checked />
                </div>
                <div class="col-xs-4">
                    <label>Therapeutic</label>
                    <input type="radio" name="groupTransfusionType" class="form-control" />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-1">
                <label class="control-label">Remarks</label>
            </div>
            <div class="col-xs-7">
                <textarea id="tbRemarks" type="text" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="panel-body form-horizontal border-below">
        <div class="col-xs-6 griddisable">
            <table id="gridBagsAvailable" class="Hide Show table table-nomargin table-condensed fahad" style="cursor: pointer; width: 100% !important;">
                <thead class="cAR-tlist-header">
                    <tr>
                        <th colspan="9" class="centertext compressedtableheader" style="text-align: center">Bags Available</th>
                    </tr>
                    <tr>
                        <th>Bag Id</th>
                        <th>Unit No</th>
                        <th>Donated Date</th>
                        <th>Expiry Date</th>
                        <th>B Group</th>
                        <th>Bag Vol</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-xs-6 griddisable">
            <table id="gridBagsIssued" class="Hide Show table table-nomargin table-condensed fahad" style="cursor: pointer; width: 100% !important;">
                <thead class="cAR-tlist-header">
                    <tr>
                        <th colspan="9" class="centertext compressedtableheader" style="text-align: center">Bags Issued</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="panel-body form-horizontal border-below">
        <div class="row">
        </div>
    </div>
</div>


<input type="hidden" id="hidUrl"
       data-getdashboard="@Url.Action("Dashboard")"
       data-getissue="@Url.Action("GetIssue")"
       data-getbloodgroup="@Url.Action("Select2BloodGroup")"
       data-getissueavailable="@Url.Action("GetAvailableByBloodgroupId")"
       data-addissueemergency="@Url.Action("AddIssueEmergency")"
       data-getemployee="@Url.Action("Select2BloodbankEmployee")" 
       data-save="@Url.Action("Save")"
     />
@section scripts {
    <script defer src="@Url.Content("~/Scripts/BloodBank/IssuesEmergency.js")" type="text/javascript"></script>
}
