@model HIS_MCRS.Areas.ManagementReports.ViewModels.PRProfLicenseReport

@{  
    ViewBag.Title = "Personnel Reports ";

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    //options.Confirm = "Do you wish to submit this form?";
    options.OnBegin = "_indicator.Body()";
    options.OnComplete = "_indicator.Stop()";
    //options.OnFailure = "OnFailure";
    //options.OnSuccess = "OnSuccess";
    //options.LoadingElementId = "loading";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "reportWrapper";
    options.InsertionMode = InsertionMode.Replace;
}



<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-5">
                <h4><span class="navbar-header">Employee Exclusion Master Report</span></h4>
            </div>
            <div class="navbar-collapse navbar-right">
            </div>
        </div>
    </div>

    <div class="panel-body" style="height: auto;">
        @using (Ajax.BeginForm(options))
            {
         
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-4 " style="">
                        <div class="col-xs-12 border10">
                            @Html.LabelFor(m => m.HrCategoryId, new { @class = "col-xs-4 right" })
                            <select id="@Html.IdFor(m=>m.HrCategoryId)" name="@Html.NameFor(m=>m.HrCategoryId)" class=" col-xs-8"
                                data-bind="options:$root.HrCategoryList, optionsText:'Name', optionsValue:'Id', 
                                           value: $root.SelectedHrCategoryList, select2:{allowClear: true, placeholder:''}">
                            </select>
                       
                        </div>
                      
                    </div>@*  col-xs-3*@
                    @*<div class="col-xs-4 ">
                    </div>
                    <div class="col-xs-3" style="width: auto;">

                        <button id="RunReport" data-bind="click:$root.submit" type="submit" class="btn btn-success" value="RunReport">
                            <span class="glyphicon glyphicon-tasks"></span>Run Report
                        </button>


                        <a id="Close"  href="@Url.Action("Index", "PersonnelReports")" class="btn btn-danger ">
                            <span class="glyphicon glyphicon-off"></span>Close
                        </a>
                    </div>*@
                </div>

                <div id="dataTable1" class="col-md-12 top10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Emp No</th>
                                <th>Name</th>
                                <th>Designation</th>
                            </tr>
                        </thead>
                        <tbody class="border10" data-bind="dataTablesForEach:{data:$root.HrCategoryData, 
                                                            dataTableOptions:{paging:true,scrollY: 150 ,bDestroy: true,fnDestroy:true,fnClearTable:true
                                                                            @* ,columns:[
                                                                                    {width: '50px'},
                                                                                    {width: '100px'},
                                                                                    {width: '100px'}
                                                                                        ]*@
                                                                                }
                                                                                }" style="overflow: auto; height: 200px;">
                            @*<tr class="linen" data-bind="click: Id == 0 ?  '' :  $root.ShowPopUp ,css: Id == 0 ?  'linen' :  toscore == 0 || toscore == null  ? 'lightyellow' : 'lightblue'">
                             *@   @*<td style="padding: 0px !important;" data-bind="text:Id, visible:false"></td>*@
                            <tr class="linen" style="background-color: lightgray;" data-bind="click : $root.clickItem ">
                                <td style="padding: 0px !important;" data-bind="text:EmployeeId"></td>
                                <td style="padding: 0px !important;" data-bind="text:Name"></td>
                                <td style="padding: 0px !important;" data-bind="text:Designation"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 ">
                    <div class="col-xs-5">
                        <label class="text-right">Employee No</label></div>
                    <div class="col-xs-7"><input type="text" id="empNo" disabled="disabled" /></div>
                </div>
                <div class="col-xs-6 col-xs-offset-3 top10 ">
                    <div class="col-xs-5"><label>Name</label></div>
                    <div class="col-xs-7">
                        <input type="text" id="empName" style="width: 100%" disabled="disabled" /></div>
                </div>
                <div class="col-xs-6 col-xs-offset-3 top10 ">
                    <div class="col-xs-5">
                        <label>Designation</label></div>
                    <div class="col-xs-7">
                        <input type="text" id="empDesignation" style="width: 100%" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row top10">
                <div class="col-xs-12  ">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <a class="btn btn-primary disabled"><span class="glyphicon glyphicon-plus"></span>New</a>
                        <a class="btn btn-success disabled"><span class="glyphicon glyphicon-save ">Save</a>
                        <a class="btn btn-warning disabled"><span class="glyphicon glyphicon-remove">Delete</a>
                        <a id="Close"  href="@Url.Action("Index", "PersonnelReports")"  class="btn btn-danger"><span class="glyphicon glyphicon-off"></span>Close</a>
                    </div>
                </div>
                </div>
                @*<div id="reportWrapper" class="col-xs-12 top10 container-fluid" style="min-height: 390px; background-color: #6C7A89;"></div>*@
            @Html.Hidden("SelectedCategoryText")
            }
    </div>@*panel-body*@
</div>



@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/knockoutjs")
@section Scripts{
    <script type="text/javascript" src="~/Scripts/MCRS/global/dialogwrapper.js"></script>
    @*<script type="text/javascript" src="~/Scripts/MCRS/otherreports/js_generalexpenses.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            var data = '@Html.Raw(Json.Encode(this.Model))';
            var viewModel = new ViewModel(JSON.parse(data));
            viewModel.inputUrlActions = $("#urlActions");
            ko.applyBindings(viewModel);
        });


        function ViewModel(model)
        {
            var self = this;
            self.SelectedCategoryText = ko.observable();
            self.SelectedHrCategoryList = ko.observable();
            self.HrCategory = ko.observable();
            self.HrCategoryData = ko.observableArray([]);

            self.HrCategoryList = ko.observableArray(model.HrCategoryList);


            self.SelectedHrCategoryList.subscribe(function (value) {
                console.log(value);
                if (value) {

                    $.each(self.HrCategoryList(), function (index, item) {
                        if (item.Id == value) {
                            self.SelectedCategoryText(item.Name);
                            console.log(item.Name);   
                        }
                    });


                    
                }

                self.HrCategoryData([]);
                $param = { xvID: value };
                ajaxwrapper.std('get_data_hrcategories', 'POST', $param,
                   function () { _indicator.Body(); },
                    function (data) {
                        ko.utils.arrayPushAll(self.HrCategoryData, data.Res);
                        _indicator.Stop();
                    },
                    function (err) {
                        ardialog.Pop(4, "Error", err, "OK", function () { _indicator.Stop(); });
                    }
                );

            });

            self.clickItem = function (e) {
                console.log(e);
                $('#empNo').val(e.EmployeeId);
                $('#empName').val(e.Name);
                $('#empDesignation').val(e.Designation);
            };


        }
    </script>
}


