  @{
                    var url = Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~/");
                    if (url.Contains("localhost"))
                    {
                        url = "http://130.1.2.27/HISLABORATORY/LAB/TestRequisitionOp";
                    }
                   
                    var index = url.Split('/');
                    
    }


<!-- Modal -->
<div id="DivChangePass" class="modal fade" role="dialog"  >
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
        <h4 class="modal-title"> <b>Change Password </b></h4>
      </div>
     
      <div class="modal-body" >

      <div class="" id="UserForm">
                 <br />     
     <h5><center>Hospital Information System (HIS) -  Password Policy! </center></h5>
                       <div class="progress">
                         <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="2" style="width: 50%;">
                           Step 1 of 2
                         </div>
                       </div>
  
                       <div class="navbar">
                          <div class="navbar-inner">
                                <ul class="nav nav-pills">
 

                                   <li class="active"  style="display:none;"><a href="#step1" data-toggle="tab" data-step="1" id="Step1" >Step 1</a></li>
                                  <li style="display:none;"><a href="#step2" data-toggle="tab" data-step="2" id="Step2" >Step 2</a></li>
                                   @* <li><a href="#step3" data-toggle="tab" data-step="3" >Step 3</a></li>*@
                                  @* <li><a href="#step4" data-toggle="tab" data-step="4">Step 4</a></li>
                                   <li><a href="#step5" data-toggle="tab" data-step="5">Step 5</a></li>*@
                                </ul>
                          </div>
                       </div>
                       <div class="tab-content">
                          <div class="tab-pane fade in active" id="step1">
         
                            <div class="well" > 
                                 <input class="form-control input-sm"  value="@User.Identity.Name" disabled >
                                 <input class="form-control input-sm" type="password"   title="(At least one letter/One capital letter)/(One number)/(8 characters in length)" style="margin-top:5px;" id="txtOldPassword"   placeholder="Current / Old Password">
                            </div>                                 
                               <a class="btn btn-success next" href="#" id="btnStep1">Continue  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                              
                             
                          </div>

                        <div class="tab-pane fade" id="step2">
                             <div class="well"> 
                                <input class="form-control input-sm" type="password"  title="(At least one letter/One capital letter)/(One number)/(8 characters in length)" style="margin-top:5px;" id="txtNewPassword"  placeholder="New Password" >
                                <input class="form-control input-sm" type="password"  title="(At least one letter/One capital letter)/(One number)/(8 characters in length)"  style="margin-top:5px;" id="txtresitConfirmPassword"  placeholder="Confirm Password" >
                             </div>
                                <a class="btn btn-success btn-sm next" id="BtnChange" href="#">Change Password</a>
                          </div>
                       </div>
  
                            <hr>
                            <small style="color: black;" >Application passwords must be changed at least every <b>90 days</b> and cannot re-use
your past 5 passwords. </small>
                            <hr>
  
 
  
                    </div>





      </div>
      <div class="modal-footer">
        @*<button type="button" class="btn btn-danger btn-sm " data-dismiss="modal">Close</button>*@
         
                @*<a class="navbar-brand" href="@(newUrl + "/HISLOGIN")"><span class="glyphicon glyphicon-home"></span></a>*@

           @*<a class="btn btn-info" href="@(index[0] +"//"+ index[2] +"/"+ index[3]+ "/Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"> Home</a>*@
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="ErrorMsg" class="modal fade" role="dialog" >
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> <b>Notification </b></h4>
      </div>
      <div class="modal-body" id="errorbody">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm " data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="ThankyouMsg" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> <b>Notification </b></h4>
      </div>
      <div class="modal-body"  id="ThankyouMsgbody">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
           @*<a href="@Url.Action("Index", "Home", new { area = "" })" 
                data-toggle="tooltip" 
                title="Click here to Home...">
                <span class="glyphicon glyphicon-home"></span> <b>Home</b>

            </a>*@
           <button type="button" class="btn btn-danger btn-sm " id="ThankyouMsgClose"  >Close</button>
        
      </div>
    </div>

  </div>
</div>

 
<input id="enryppassword" name="" type="hidden" class="form-control">

 @section scripts{

	<script src="~/Scripts/itadmin/jqChangePassword.js"></script>
}

<input type="hidden" id="url"
    data-getuserinfo ="GetUserInformationChangePassword"
    
    data-changepasswordsave ="ChangePasswordSave"
        data-home="@(index[0] +"//"+ index[2] +"/"+ index[3]+ "/Home")"

    
    />

