@model HIS_MCRS.Areas.ManagementReports.ViewModels.MRAramcoPatient

@{
    ViewBag.Title = "Marketing Reports";
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    //options.Confirm = "Do you wish to submit this form?";
    options.OnBegin = "_indicator.Body()";
    options.OnComplete = "_indicator.Stop()";
    //options.OnFailure = "OnFailure";
    //options.OnSuccess = "OnSuccess";
    //options.LoadingElementId = "loading";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "reportWrapper";
    options.InsertionMode = InsertionMode.Replace;
}

<div class="panel panel-default ">
    <div class="panel-heading" style="padding-top:0px;">
        <div class="row">
            <div class="col-xs-6">
                <h4><b class="navbar-header info">Aramco Patient Report By Age Range</b></h4>
            </div>

        </div>
    </div>
    
    
     @using(Ajax.BeginForm(options)){
    <div class="panel-body" >
        <div class="row">
            <div class=" col-xs-12">
                 <div class="col-xs-3 border10 top5">                
                                @Html.Label("Between", new { @class = "col-xs-5" })                   
                                <div  class="col-xs-5">
                                    <div class="input-group">
                                        <!--select -->
                                            <select  id="From" name="From" aria-required="true" class="form-control">
                                 
                                                    @for(var i = 1; i < 100; i++)
                                                    { <option value="@i">@i</option>}
                                            </select>
                                     </div>
                                </div>
                    
                                @Html.LabelFor(m => m.To, new { @class = "col-xs-5" })
                                <div  class="col-xs-5">
                                      <div class="input-group">
                                        <!--select -->
                                            <select  id="To" name="To" data-val="true"   class="form-control">
                                                @for(var i = 1; i < 100; i++)
                                                    { <option value="@i">@i</option>}
                                            </select>
                                        </div>
                                 </div>
                         
                 </div>



                 <div class="col-xs-4 top5">
                 <div class="col-xs-12 border10">
                @Html.Label("Category", new { @class = "col-xs-10" })
                <div  class="col-xs-9">

                    <select id="@Html.IdFor(m=>m.SexID)" name ="@Html.NameFor(m=>m.SexID)" class="form-control">
                        <option value="0">All</option>
                        @foreach (var item in Model.Gender)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                   @Html.HiddenFor(m => m.GenderName)
                </div>

                </div>              
            </div> 

                  <div class="col-xs-5 top10">
                <div class="pull-right col-xs-5 top10">
                    <button id="RunReport" type="submit" class="btn btn-sm btn-success col-xs-12" value="RunReport">
                        <span class="glyphicon glyphicon-tasks"></span> Run Report
                    </button>
                   <a id="Close"  href="@Url.Action("Index", "MarketingReports")" class="top5 btn btn-sm btn-danger col-xs-12">
                        <span class="glyphicon glyphicon-off"></span> Close
                    </a>

                </div>
            </div>

  
     <div class="col-xs-12">
          <div id="reportWrapper" class="container-fluid"/>

        </div>
          
        </div>
    
    </div>
    
        
</div>
                 }
</div>



<input id="urlInput" class="hidden" 
    data-print="@Url.Action("Preview", "Print", new { Area = "" })"
    data-searchcompanies="@Url.Action("SearchCompanies")"
    data-searchdoctors="@Url.Action("SearchDoctors")"
      />


@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/knockoutjs")
@section Scripts{ 
    <script type="text/javascript" src="~/Scripts/MCRS/global/dialogwrapper.js"></script>
    <script type="text/javascript" src="~/Scripts/ManagementReports/MarketingReports/AramcoPatient.js"></script>
    <script type="text/javascript">
      
       
    </script>
}