@model HIS_MCRS.Areas.ManagementReports.ViewModels.AROPBillPinWise

@using HIS_MCRS.Common

@{
    ViewBag.Title = "AR Reports";
   AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    //options.Confirm = "Do you wish to submit this form?";
    options.OnBegin = "_indicator.Body()";
    options.OnComplete = "_indicator.Stop()";
    //options.OnFailure = "OnFailure";
    //options.OnSuccess = "OnSuccess";
    //options.LoadingElementId = "loading";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "reportWrapper";
    options.InsertionMode = InsertionMode.Replace;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-5">
                <h4><span class="navbar-header">Expiring Big Policies Report (100 Patients or More)</span></h4>
            </div>
            <div class="navbar-collapse navbar-right">
            </div>
        </div>
    </div>

    @using(Ajax.BeginForm(options)){
        <div class="panel-body">

            <div class=" col-xs-12">
                <div class="col-xs-4">
                    <div class="col-xs-12 ">
                        <legend style="font-size: 13px; margin-bottom: 3px;"><strong>Expiring Policy Parameters</strong></legend>
                         
                       
                        <label class="col-xs-2">Date</label>
                        <div class="col-xs-10">

                            <div class="input-group">
                                @Html.TextBoxFor(m => m.StartDate,Model.StartDate.ToString("dd-MMM-yyyy"), new { @readonly=true, @class = "datepicker form-control", style = "z-index:0 !important;", 
                                                                    data_bind="datepicker:$root.StartDate, datepickerOptions:{format: 'dd-M-yyyy', autoclose: true}" })
                                <span class="input-group-btn ">
                                    <button data-bind="glyphfor:'StartDate'" class="btn btn-default glyphicon glyphicon-calendar" type="button" style="margin-top: -1px;"></button>
                                </span>
                            </div>

                        </div>
                        
                    </div>
                </div>

                <div class="col-xs-6">
                    <legend style="font-size: 13px; margin-bottom: 3px;"><strong>Days</strong></legend>
                    <label class="col-xs-4 top10">No. of Days</label>

                    <div class="col-xs-8 top5">
                        <div class="input-group">
                            <select class="form-control" id="days" name="days">
                                @for(var i =30; i < 300; i++)
                                    { 
                                        if (i % 30 == 0)
                                        {
                                    <option value="@i">@i</option>
                                        }
                                    }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2 top10">
                    <div class="pull-right col-xs-10 top10">
                        <button id="RunReport" type="submit" class="btn btn-success col-xs-12" value="RunReport">
                            <span class="glyphicon glyphicon-tasks"></span>Run Report
                        </button>
                        <a id="Close"  href="@Url.Action("Index", "ARReports")" class="top5 btn btn-danger col-xs-12">
                            <span class="glyphicon glyphicon-off"></span>Close
                        </a>

                    </div>
                </div>
            </div>

            <div id="reportWrapper" class="container-fluid" style="margin-top: 11%;" />


        </div>
    }
</div>

<input id="urlInput" class="hidden" data-getcompanybycategory="@Url.Action("getCompanyByCategory")" />

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/knockoutjs")
@section Scripts{
    <script type="text/javascript" src="~/Scripts/MCRS/global/dialogwrapper.js"></script>
    @*<script type="text/javascript" src="~/Scripts/ManagementReports/ARReports/OPBillPinWise.js"></script>*@
    <script type="text/javascript">
        var viewModel = ""
        $(document).ready(function () {
            var data = '@Html.Raw(Json.Encode(this.Model))';
            viewModel = new ViewModel(JSON.parse(data),$("#urlInput"));
            ko.applyBindings(viewModel);
        });

        function ViewModel(model, urlActions) {

            self = this;
           
            self.URIs = urlActions;
            self.StartDate = ko.observable(new Date(moment(model.StartDate)));
        }

    </script>
}


