@model HIS_MCRS.Areas.ManagementReports.ViewModels.FinanceReportsOPRevenue

@using HIS_MCRS.Common

@{
    ViewBag.Title = "AR Report";
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    //options.Confirm = "Do you wish to submit this form?";
    options.OnBegin = "_indicator.Body()";
    options.OnComplete = "_indicator.Stop()";
    //options.OnFailure = "OnFailure";
    //options.OnSuccess = "OnSuccess";
    //options.LoadingElementId = "loading";
    options.LoadingElementDuration = 1000;
    options.UpdateTargetId = "reportWrapper";
    options.InsertionMode = InsertionMode.Replace;
}


@using (Ajax.BeginForm(options))
{
    <div class="nav-tabs-custom" style="cursor: move;">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right ui-sortable-handle">
            <li class="active"><a href="#revenue-chart" data-toggle="tab" aria-expanded="false">Report</a></li>

            <li class="pull-left header"><i class="fa fa-inbox"></i>IP Bill - AR ( Bill Finalize) </li>
        </ul>
        <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: auto; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-5">
                                <h4><span class="navbar-header">Bill Finalize Report</span></h4>
                            </div>
                            <div class="navbar-collapse navbar-right">
                                <div class="col-xs-3" style="width: auto;">

                                    <button id="RunReport" data-bind="click: $root.submit" type="submit" class="btn btn-success" value="RunReport">
                                        <span class="glyphicon glyphicon-tasks"></span>Run Report
                                    </button>


                                    <a id="Close" href="@Url.Action("Index", "ARReports")" class="btn btn-danger ">
                                        <span class="glyphicon glyphicon-off"></span>Close
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-body" style="height: auto;">

                        <div class="col-xs-12 ">
                            <div class="col-xs-4 ">
                                <fieldset>
                                    <legend style="font-size: 13px; margin-bottom: 3px;"><strong>Report Parameters</strong></legend>
                                    <label class="col-xs-4 top5" for="StartDate">Start Date</label>
                                    <div class="col-xs-7 input-group">
                                        <input class="form-control"
                                               id="StartDate" autocomplete="off" data-date-end-date="0d" name="StartDate" type="text" readonly="readonly" >
                                        <span class="input-group-btn ">
                                            <button data-bind="glyphfor: 'StartDate'" class="btn btn-default glyphicon glyphicon-calendar" type="button" style="margin-top: -1px;"></button>
                                        </span>
                                    </div>








                                    <label class="col-xs-4 top10" for="EndDate">End Date</label>

                                    <div class="col-xs-7 input-group top5">
                                        <input class="  form-control"
                                               id="EndDate" name="EndDate" readonly="readonly" autocomplete="off" type="text">
                                        <span class="input-group-btn ">
                                            <button data-bind="glyphfor: 'EndDate'" class="btn btn-default glyphicon glyphicon-calendar" type="button" style="margin-top: -1px;"></button>
                                        </span>
                                    </div>


                                </fieldset>
                            </div>


                        </div>

                        <div class="form-group">
                            <div id="reportWrapper" class="col-xs-12 container-fluid" style="min-height: 300px;"></div>
                        </div>

                    </div>
                </div>




            </div>
        </div>
    </div>

}

<input id="urlActions" class="hidden"
       data-dashboarddatatable="@Url.Action("OPRevenueDataTAble")"
       data-searchcompanies="@Url.Action("SearchCompanies")"
       data-searchdoctors="@Url.Action("SearchDoctors")" />

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/knockoutjs")
@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(function () { 
            init();
        });


        function init() {         
            _SD = moment().get('year') + "-" + (moment().get('month') + 1) + "-" + moment().get('date');
            _DTODAY = moment(_SD).format('DD-MMM-YYYY');
            $.fn.datepicker.defaults.format = "dd-MM-yyyy";

            $("#StartDate").val(_DTODAY);
            $("#EndDate").val(_DTODAY);

            $("#StartDate").datepicker({
                format: "dd-M-yyyy",
                autoclose: true,
                todayHighlight: true,
                endDate: new Date(),
                startDate: '-2m',

            });
            $("#EndDate").datepicker({
                format: "dd-M-yyyy",
                autoclose: true,
                todayHighlight: true,
                endDate: new Date(),
                startDate: '-2m',

            });
            
            var datepicker = $.fn.datepicker.noConflict(); // return $.fn.datepicker to previously assigned value
            $.fn.bootstrapDP = datepicker;                 // give $().bootstrapDP the bootstrap-datepicker functionality
 
        }

    </script>
}
