@{
    ViewBag.Title = "Mms Reports";
}
@Styles.Render("~/Styles/arcustom")

<div class="row">
    <br />
    <div class="col-sm-12">
     @*   <a class="mc_rep_continer" href="@Url.Action("ItemTransactionTrend")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
               Item Transaction Trend
            </section>
        </a>

        <a class="mc_rep_continer" href="@Url.Action("FastMovingItem")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
                Fast Moving Item
            </section>
        </a>*@

        <a class="mc_rep_continer" href="@Url.Action("ItemMasterByLocation")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
                Item Master By Location
            </section>
        </a>

@*
        <a class="mc_rep_continer" href="@Url.Action("AllStoreSummary")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
                All Store Summary of Stock Values
            </section>
        </a>


        <a class="mc_rep_continer" href="@Url.Action("AdjustmentIssueReport")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
                Adjustment Issue Report
            </section>
        </a>


        <a class="mc_rep_continer" href="@Url.Action("AdjustmentReceiptReport")">
            <span class="glyphicon glyphicon-list-alt"></span>
            <section>
                Adjustment Receipt Report
            </section>
        </a>*@

    </div>
</div>
